In [1]:
import os

In [2]:
from minio import Minio
import findspark
findspark.init()
from pyspark.sql import SparkSession
from pyspark.sql.functions import regexp_extract, col, when, length 
from pyspark.sql.types import NumericType, IntegerType, LongType, FloatType, DoubleType, DecimalType
from pyspark.ml.feature import Imputer
import pyspark.sql.functions as F
from dotenv import load_dotenv, find_dotenv
load_dotenv(find_dotenv())

True

In [3]:
JAR_PATH_1 = os.path.abspath("./jars/hadoop-aws-3.4.0.jar")
JAR_PATH_2 = os.path.abspath("./jars/aws-sdk-s3-2.29.52.jar")

JARS_LIST = f"{JAR_PATH_1},{JAR_PATH_2}"

In [4]:
spark = (
    SparkSession.builder.appName("Cleaning")
    .master("local[*]")
    .config(
        "spark.jars.packages",
        "org.apache.hadoop:hadoop-aws:3.3.4,com.amazonaws:aws-java-sdk-bundle:1.12.262",
    )
    .config("spark.driver.host", "127.0.0.1")
    .config("spark.driver.bindAddress", "0.0.0.0")
    .config("spark.jars.repositories", "https://repo1.maven.org/maven2/")
    .config("spark.hadoop.fs.s3a.endpoint", os.getenv("MINIO_ENDPOINT"))
    .config("spark.hadoop.fs.s3a.access.key", os.getenv("MINIO_ACCESS_KEY"))
    .config("spark.hadoop.fs.s3a.secret.key", os.getenv("MINIO_SECRET_KEY"))
    .config("spark.hadoop.fs.s3a.path.style.access", "true")
    .config("spark.hadoop.fs.s3a.connection.ssl.enabled", "false")
    .config("spark.hadoop.fs.s3a.impl", "org.apache.hadoop.fs.s3a.S3AFileSystem")
    .config(
        "spark.hadoop.fs.s3a.aws.credentials.provider",
        "org.apache.hadoop.fs.s3a.SimpleAWSCredentialsProvider",
    )
    .getOrCreate()
)

KeyboardInterrupt:

In [5]:
minio_client = Minio(
    os.getenv("MINIO_ENDPOINT"),
    access_key=os.getenv("MINIO_ACCESS_KEY"),
    secret_key=os.getenv("MINIO_SECRET_KEY"),
    secure=False,
)

bucket_name = "pulse-bucket-1"

In [6]:
# Ensure Spark context is active and JARs are loaded
spark.sparkContext.setLogLevel("WARN")

objects = minio_client.list_objects(bucket_name, prefix="mapped_", recursive=True)
dataframes = {}
for obj in objects:
    df = spark.read.option("header", "true").option("inferSchema", "true").csv(
        f"s3a://{bucket_name}/{obj.object_name}"
    )
    object_name = obj.object_name.replace("mapped_", "").replace(".csv", "")
    dataframes[object_name] = df
    print(f"Loaded {object_name} with {df.count()} rows")

25/11/20 22:35:05 WARN MetricsConfig: Cannot locate configuration: tried hadoop-metrics2-s3a-file-system.properties,hadoop-metrics2.properties

Loaded addresses with 1552 rows
Loaded categories with 207 rows
Loaded customer_sessions with 5175 rows
Loaded customers with 1035 rows
Loaded inventory with 1552 rows
Loaded marketing_campaigns with 596 rows
Loaded order_items with 5175 rows
Loaded orders with 2587 rows
Loaded payments with 3622 rows
Loaded products with 1035 rows
Loaded reviews with 3105 rows
Loaded shopping_cart with 3105 rows
Loaded suppliers with 1035 rows
Loaded wishlist with 2070 rows

In [7]:
for table in dataframes.keys():
    df = dataframes[table]

    for column in df.columns:
        if column.endswith("_id") and not column.startswith("session_id"):
            df = df.withColumn(
                column,
                when(
                    regexp_extract(col(column), r"(\d+)", 1) == "",
                    None,
                ).otherwise(regexp_extract(col(column), r"(\d+)", 1)),
            )
            df = df.withColumn(column, col(column))

    dataframes[table] = df
for table, dataframe in dataframes.items():
    print(f"Table: {table}")
    dataframe.show(3)

Table: addresses
+----------+----------+-------------------+-----------+--------------+
|address_id|      city|     state_province|postal_code|       country|
+----------+----------+-------------------+-----------+--------------+
|      5555|Las Palmas|          Maryland*|     J8E7L5|       Bermuda|
|      5938|  Gillfort|Nordrhein-Westfalen|      34985|         Congo|
|      5060|       NaN|                NaN|    00000  |United Kingdom|
+----------+----------+-------------------+-----------+--------------+
only showing top 3 rows

Table: categories
+-----------+----------+---------------+
|category_id|  category|   sub_category|
+-----------+----------+---------------+
|        695|  Colthing|      Wholesale|
|        659|Mirrorless|Limited Edition|
|        571|     Suits|      Wholesale|
+-----------+----------+---------------+
only showing top 3 rows

Table: customer_sessions
+----------+-----------+--------------------+--------------------+-----------+---------------+------------+---------------+---------------+---------------------+
|session_id|customer_id|       session_start|         session_end|device_type|referrer_source|pages_viewed|products_viewed|conversion_flag|cart_abandonment_flag|
+----------+-----------+--------------------+--------------------+-----------+---------------+------------+---------------+---------------+---------------------+
|  342c1e63|       1007|2025-11-16 15:06:...|2025-11-16 15:07:...|     Mobile|    Display Ads|           1|              1|          False|                 True|
|  287AD075|       1347|2025-11-14 10:21:...|2025-11-14 10:24:...|     Mobile|   Facebook Ads|           2|            1  |        False  |                 True|
|  2be3df7e|       1111|2025-11-10 16:20:...|2025-11-10 16:30:...|    Desktop|         Direct|           4|              1|          False|                False|
+----------+-----------+--------------------+--------------------+-----------+---------------+------------+---------------+---------------+---------------------+
only showing top 3 rows

Table: customers
+-----------+-----------------+-------------------+--------------+----------+-------------+--------------+-----------+--------+-------------------+-------------------+---------+
|customer_id|           gender|      date_of_birth|account_status|address_id|         city|state_province|postal_code| country| account_created_at|    last_login_date|is_active|
+-----------+-----------------+-------------------+--------------+----------+-------------+--------------+-----------+--------+-------------------+-------------------+---------+
|       1369|             Male|1976-02-16 00:00:00|        Active|      5369|   Scottburgh|            NT|   SR10 6WU|Barbados|2023-02-03 04:19:00|2025-09-03 02:03:22|    False|
|       1078|Prefer not to say|1960-03-06 00:00:00|       Blocked|      5078| Port Stephen|            KY|    T7Y 2J4| Tunisia|2024-09-14 13:36:19|2025-06-12 07:33:03|    False|
|       1299|            Other|1992-06-19 00:00:00|       Blocked|      5299|Gutierrezstad|      Victoria|   KW52 8SR|Tanzania|2023-04-16 07:39:34|2023-08-30 10:22:35|    false|
+-----------+-----------------+-------------------+--------------+----------+-------------+--------------+-----------+--------+-------------------+-------------------+---------+
only showing top 3 rows

Table: inventory
+------------+----------+-----------+--------------+-----------------+-------------------+-------------------+------------+
|inventory_id|product_id|supplier_id|stock_quantity|reserved_quantity|minimum_stock_level|last_restocked_date|storage_cost|
+------------+----------+-----------+--------------+-----------------+-------------------+-------------------+------------+
|       10555|      1958|      10968|           788|               78|                 29|2025-08-29 10:09:11|        2.23|
|       10938|      1384|      10847|            49|                0|                 51|2025-10-19 23:50:36|        0.39|
|       10060|      9999|      10849|     Unknown  |                0|                NaN|2025-10-28 09:54:57|        1.12|
+------------+----------+-----------+--------------+-----------------+-------------------+-------------------+------------+
only showing top 3 rows

Table: marketing_campaigns
+-----------+--------------------+-------------+-------------------+-------------------+---------+------------+-----------+------+-----------+--------------------+---------------+
|campaign_id|       campaign_name|campaign_type|         start_date|           end_date|   budget|spent_amount|impressions|clicks|conversions|     target_audience|campaign_status|
+-----------+--------------------+-------------+-------------------+-------------------+---------+------------+-----------+------+-----------+--------------------+---------------+
|        391|  Summer Sale 2025  |        email|                NaN|         11/16/2025| Variable|           0|        NaN| 100.5|        NaN|Target: 18-65+, $...|              1|
|         19|Customer Retentio...|        Video|2025-11-16 00:00:00|2025-11-30 00:00:00|  9789.06|      768.62|      58495|  1790|         83|small business ow...|         Active|
|        122|  Flash Sale 2023 v2|        Radio|2025-11-16 00:00:00|2025-12-16 00:00:00|124691.73|      3556.6|     288059|  4122|         63|B2B Decision make...|         Paused|
+-----------+--------------------+-------------+-------------------+-------------------+---------+------------+-----------+------+-----------+--------------------+---------------+
only showing top 3 rows

Table: order_items
+-------------+--------+----------+---------------+------------+--------+
|order_item_id|order_id|product_id|discount_amount|product_cost|quantity|
+-------------+--------+----------+---------------+------------+--------+
|         2877|     214|      1014|          37.95|       84.44|     NaN|
|         1521|    2571|      1010|              0|       43.25|     NaN|
|         1446|    2118|      1500|              0|      255.12|     NaN|
+-------------+--------+----------+---------------+------------+--------+
only showing top 3 rows

Table: orders
+--------+-----------+------------+--------+----------+-------------+--------------+------------+--------+-------------------+----------------+------------------+
|order_id|customer_id|order_status|subtotal|tax_amount|shipping_cost|total_discount|total_amount|currency|    order_placed_at|order_shipped_at|order_delivered_at|
+--------+-----------+------------+--------+----------+-------------+--------------+------------+--------+-------------------+----------------+------------------+
|    NULL|       NULL|         NaN|        |       NaN|          NaN|           NaN|         NaN|     NaN|                NaN|          null  |               NaN|
|    1313|       1226|    Returned|   70.94|       4.3|        49.57|             0|      124.81|     USD|2025-03-04 06:03:21|             NaN|               NaN|
|    1979|       1551|  Processing|   50.37|      3.37|        21.27|             0|       75.01|     USD|2025-01-06 04:02:26|             NaN|               NaN|
+--------+-----------+------------+--------+----------+-------------+--------------+------------+--------+-------------------+----------------+------------------+
only showing top 3 rows

Table: payments
+----------+--------+----------------+----------------+------------------+--------------+--------------+-------------+-------------------+-------------------+
|payment_id|order_id|  payment_method|payment_provider|    payment_status|transaction_id|processing_fee|refund_amount|       payment_date|        refund_date|
+----------+--------+----------------+----------------+------------------+--------------+--------------+-------------+-------------------+-------------------+
|      2457|     468|      Google Pay|          Stripe|         Pending  |      55409902|         26.12|            0|2025-02-09 23:35:13|                NaN|
|      2925|    2112|             NaN|          Square|         Completed|          3964|           NaN|            0|                NaN|                NaN|
|      1697|    2562|Cash on Delivery|             COD|Partially Refunded|      65189347|       13.33  |     103.57  |2024-12-20 20:26:34|2025-01-09 08:18:47|
+----------+--------+----------------+----------------+------------------+--------------+--------------+-------------+-------------------+-------------------+
only showing top 3 rows

Table: products
+----------+--------------------+-------------+-----------+-----------+-------------+------+-----------+----------+----------+-------------------+------+----------+--------------+--------+---------+
|product_id|        product_name|          sku|category_id|   category| sub_category| brand|supplier_id|cost_price|sell_price|        launch_date|weight|dimensions|         color|    size| material|
+----------+--------------------+-------------+-----------+-----------+-------------+------+-----------+----------+----------+-------------------+------+----------+--------------+--------+---------+
|      1369|Under Armour Smar...|UN-SP0369-RED|        500|Electronics|    Wearables|Brooks|      10411|    365.36|    860.19|2025-10-04 00:00:00| 0.128|  16x6x1.4|         White|    17""|  Glass  |
|      1078|Amazon Charger Pr...|AM-CL0078-GOL|        654|Photography|Miscellaneous|   JBL|      10041|      32.2|     44.38|2021-06-19 00:00:00| 3.397|  65x71x63|          Gray|One Size|     Wood|
|      1299|    Canon Smartwatch|CA-SP0299-GRE|        658|Electronics|    Wearables|Lenovo|      10378|    295.62|    603.48|2022-03-04 00:00:00| 0.886|  40x18x15|  Space Gray  |   Large|  Plastic|
+----------+--------------------+-------------+-----------+-----------+-------------+------+-----------+----------+----------+-------------------+------+----------+--------------+--------+---------+
only showing top 3 rows

Table: reviews
+---------+----------+-----------+------+--------------------+--------------------+--------------------+
|review_id|product_id|customer_id|rating|        review_title|         review_desc|         review_date|
+---------+----------+-----------+------+--------------------+--------------------+--------------------+
|     1438|      1633|       1959|     3|      Decent product|Power data six gu...|2025-11-16 11:56:...|
|      519|      1985|       1971|   4  |Around voice ever...|Debitis quisquam ...|2025-10-24 11:56:...|
|      987|      1211|       1436|     3|      Decent product|Child house budge...|2025-10-24 11:56:...|
+---------+----------+-----------+------+--------------------+--------------------+--------------------+
only showing top 3 rows

Table: shopping_cart
+-------+-----------+--------------------+----------+--------+----------+-------------------+-----------+
|cart_id|customer_id|          session_id|product_id|quantity|unit_price|         added_date|cart_status|
+-------+-----------+--------------------+----------+--------+----------+-------------------+-----------+
|   2338|       NULL|4fbc0984-7792-4d9...|      1084|       1|    131.17|2025-10-28 02:04:48|  Abandoned|
|   1419|       1220|                 NaN|      1454|       3|    210.73|2025-10-22 03:54:58|  Abandoned|
|   1887|       NULL|9714fadc-b3c4-403...|      1425|       1|    455.56|2025-11-02 22:34:43|  Abandoned|
+-------+-----------+--------------------+----------+--------+----------+-------------------+-----------+
only showing top 3 rows

Table: suppliers
+-----------+---------------+---------------+------------+-----------+-------------------+-------------------+------+-----------+--------+-----------------+
|supplier_id|supplier_rating|supplier_status|is_preferred|is_verified|contract_start_date|  contract_end_date|  city|      state|zip_code|          country|
+-----------+---------------+---------------+------------+-----------+-------------------+-------------------+------+-----------+--------+-----------------+
|      10369|           3.19|         active|       False|       True|2022-12-03 00:00:00|2024-11-29 00:00:00|Breton|  La Coruña|   93999|Sahara Occidental|
|      10078|           1.49|      suspended|       False|       True|2024-04-30 00:00:00|2027-04-09 00:00:00|立川市|       Iowa|   20809| French Polynesia|
|      10299|           3.93|      suspended|       False|      False|2023-01-14 00:00:00|2024-02-29 00:00:00|Teruel|Brandenburg|984-1311|      Saint Lucia|
+-----------+---------------+---------------+------------+-----------+-------------------+-------------------+------+-----------+--------+-----------------+
only showing top 3 rows

Table: wishlist
+-----------+-----------+----------+-------------------+--------------+------------+
|wishlist_id|customer_id|product_id|         added_date|purchased_date|removed_date|
+-----------+-----------+----------+-------------------+--------------+------------+
|        229|       1932|      1212|2024-09-02 23:16:26|           NaN|         NaN|
|        182|       1842|      1738|2024-11-04 10:16:53|           NaN|         NaN|
|       1376|       1604|      1203|2023-11-30 11:23:28|           NaN|         NaN|
+-----------+-----------+----------+-------------------+--------------+------------+
only showing top 3 rows

25/11/20 22:35:14 WARN GarbageCollectionMetrics: To enable non-built-in garbage collector(s) List(G1 Concurrent GC), users should configure it(them) to spark.eventLog.gcMetrics.youngGenerationGarbageCollectors or spark.eventLog.gcMetrics.oldGenerationGarbageCollectors

cast schema for correct datatypes

In [8]:
from pyspark.sql.types import *
from pyspark.sql.functions import col

def cast_dataframes(dataframes):
    # 1. Addresses
    if "addresses" in dataframes:
        dataframes["addresses"] = dataframes["addresses"].select(
            col("address_id").cast(StringType()),
            col("city").cast(StringType()),
            col("state_province").cast(StringType()),
            col("postal_code").cast(StringType()),
            col("country").cast(StringType())
        )
        print("Cast addresses DataFrame")

    # 2. Customers
    if "customers" in dataframes:
        dataframes["customers"] = dataframes["customers"].select(
            col("customer_id").cast(StringType()),
            col("gender").cast(StringType()),
            col("date_of_birth").cast(DateType()),
            col("account_status").cast(StringType()),
            col("address_id").cast(StringType()),
            col("city").cast(StringType()),
            col("state_province").cast(StringType()),
            col("postal_code").cast(StringType()),
            col("country").cast(StringType()),
            col("account_created_at").cast(TimestampType()),
            col("last_login_date").cast(DateType()),
            col("is_active").cast(BooleanType())
        )
        print("Cast customers DataFrame")

    # 3. Suppliers
    if "suppliers" in dataframes:
        dataframes["suppliers"] = dataframes["suppliers"].select(
            col("supplier_id").cast(StringType()),
            col("supplier_rating").cast(FloatType()),
            col("supplier_status").cast(StringType()),
            col("is_preferred").cast(BooleanType()),
            col("is_verified").cast(BooleanType()),
            col("contract_start_date").cast(DateType()),
            col("contract_end_date").cast(DateType()),
            col("city").cast(StringType()),
            col("state").cast(StringType()),
            col("zip_code").cast(StringType()),
            col("country").cast(StringType())
        )
        print("Cast suppliers DataFrame")

    # 4. Categories
    if "categories" in dataframes:
        dataframes["categories"] = dataframes["categories"].select(
            col("category_id").cast(StringType()),
            col("category").cast(StringType()),
            col("sub_category").cast(StringType())
        )
        print("Cast categories DataFrame")

    # 5. Products
    if "products" in dataframes:
        dataframes["products"] = dataframes["products"].select(
            col("product_id").cast(StringType()),
            col("product_name").cast(StringType()),
            col("sku").cast(StringType()),
            col("category_id").cast(StringType()),
            col("category").cast(StringType()),
            col("sub_category").cast(StringType()),
            col("brand").cast(StringType()),
            col("supplier_id").cast(StringType()),
            col("cost_price").cast(FloatType()),
            col("sell_price").cast(FloatType()),
            col("launch_date").cast(DateType()),
            col("weight").cast(FloatType()),
            col("dimensions").cast(StringType()),
            col("color").cast(StringType()),
            col("size").cast(StringType()),
            col("material").cast(StringType())
        )
        print("Cast products DataFrame")

    # 6. Inventory
    if "inventory" in dataframes:
        dataframes["inventory"] = dataframes["inventory"].select(
            col("inventory_id").cast(StringType()),
            col("product_id").cast(StringType()),
            col("supplier_id").cast(StringType()),
            col("stock_quantity").cast(IntegerType()),
            col("reserved_quantity").cast(IntegerType()),
            col("minimum_stock_level").cast(IntegerType()),
            col("last_restocked_date").cast(DateType()),
            col("storage_cost").cast(FloatType())
        )
        print("Cast inventory DataFrame")

    # 7. Wishlist
    if "wishlist" in dataframes:
        dataframes["wishlist"] = dataframes["wishlist"].select(
            col("wishlist_id").cast(StringType()),
            col("customer_id").cast(StringType()),
            col("product_id").cast(StringType()),
            col("added_date").cast(DateType()),
            col("purchased_date").cast(DateType()),
            col("removed_date").cast(DateType())
        )
        print("Cast wishlist DataFrame")

    # 8. Shopping Cart
    if "shopping_cart" in dataframes:
        dataframes["shopping_cart"] = dataframes["shopping_cart"].select(
            col("cart_id").cast(StringType()),
            col("customer_id").cast(StringType()),
            col("session_id").cast(StringType()),
            col("product_id").cast(StringType()),
            col("quantity").cast(IntegerType()),
            col("unit_price").cast(FloatType()),
            col("added_date").cast(DateType()),
            col("cart_status").cast(StringType())
        )
        print("Cast shopping_cart DataFrame")

    # 9. Orders
    if "orders" in dataframes:
        dataframes["orders"] = dataframes["orders"].select(
            col("order_id").cast(StringType()),
            col("customer_id").cast(StringType()),
            col("order_status").cast(StringType()),
            col("subtotal").cast(FloatType()),
            col("tax_amount").cast(FloatType()),
            col("shipping_cost").cast(FloatType()),
            col("total_discount").cast(FloatType()),
            col("total_amount").cast(FloatType()),
            col("currency").cast(StringType()),
            col("order_placed_at").cast(TimestampType()),
            col("order_shipped_at").cast(DateType()),
            col("order_delivered_at").cast(DateType())
        )
        print("Cast orders DataFrame")

    # 10. Order Items
    if "order_items" in dataframes:
        dataframes["order_items"] = dataframes["order_items"].select(
            col("order_item_id").cast(StringType()),
            col("order_id").cast(StringType()),
            col("product_id").cast(StringType()),
            col("quantity").cast(IntegerType()),
            col("discount_amount").cast(FloatType()),
            col("product_cost").cast(FloatType())
        )
        print("Cast order_items DataFrame")

    # 11. Payments
    if "payments" in dataframes:
        dataframes["payments"] = dataframes["payments"].select(
            col("payment_id").cast(StringType()),
            col("order_id").cast(StringType()),
            col("payment_method").cast(StringType()),
            col("payment_provider").cast(StringType()),
            col("payment_status").cast(StringType()),
            col("transaction_id").cast(StringType()),
            col("processing_fee").cast(FloatType()),
            col("refund_amount").cast(FloatType()),
            col("refund_date").cast(DateType()),
            col("payment_date").cast(DateType())
        )
        print("Cast payments DataFrame")

    # 12. Reviews
    if "reviews" in dataframes:
        dataframes["reviews"] = dataframes["reviews"].select(
            col("review_id").cast(StringType()),
            col("product_id").cast(StringType()),
            col("customer_id").cast(StringType()),
            col("rating").cast(IntegerType()),
            col("review_title").cast(StringType()),
            col("review_desc").cast(StringType()),
            col("review_date").cast(TimestampType())
        )
        print("Cast reviews DataFrame")

    # 13. Marketing Campaigns
    if "marketing_campaigns" in dataframes:
        dataframes["marketing_campaigns"] = dataframes["marketing_campaigns"].select(
            col("campaign_id").cast(StringType()),
            col("campaign_name").cast(StringType()),
            col("campaign_type").cast(StringType()),
            col("start_date").cast(DateType()),
            col("end_date").cast(DateType()),
            col("budget").cast(FloatType()),
            col("spent_amount").cast(FloatType()),
            col("impressions").cast(IntegerType()),
            col("clicks").cast(IntegerType()),
            col("conversions").cast(IntegerType()),
            col("target_audience").cast(StringType()),
            col("campaign_status").cast(StringType())
        )
        print("Cast marketing_campaigns DataFrame")

    # 14. Customer Sessions
    if "customer_sessions" in dataframes:
        dataframes["customer_sessions"] = dataframes["customer_sessions"].select(
            col("session_id").cast(StringType()),
            col("customer_id").cast(StringType()),
            col("session_start").cast(TimestampType()),
            col("session_end").cast(TimestampType()),
            col("device_type").cast(StringType()),
            col("referrer_source").cast(StringType()),
            col("pages_viewed").cast(IntegerType()),
            col("products_viewed").cast(IntegerType()),
            col("conversion_flag").cast(BooleanType()),
            col("cart_abandonment_flag").cast(BooleanType())
        )
        print("Cast customer_sessions DataFrame")

    print("\n✅ All DataFrames cast successfully!")
    return dataframes

dataframes = cast_dataframes(dataframes)

Cast addresses DataFrame
Cast customers DataFrame
Cast suppliers DataFrame
Cast categories DataFrame
Cast products DataFrame
Cast inventory DataFrame
Cast wishlist DataFrame
Cast shopping_cart DataFrame
Cast orders DataFrame
Cast order_items DataFrame
Cast payments DataFrame
Cast reviews DataFrame
Cast marketing_campaigns DataFrame
Cast customer_sessions DataFrame

✅ All DataFrames cast successfully!

In [9]:
dataframes["customers"].columns

['customer_id',
 'gender',
 'date_of_birth',
 'account_status',
 'address_id',
 'city',
 'state_province',
 'postal_code',
 'country',
 'account_created_at',
 'last_login_date',
 'is_active']

Merging  addresses table with Customers
and categories table with products if exists

In [10]:
def merge():
      if not "addresses" in dataframes:
            print("Addresses DataFrame is missing.")

      if "addresses" in dataframes and "customers" in dataframes:
            dataframes["addresses"].createOrReplaceTempView("addresses")
            dataframes["customers"].createOrReplaceTempView("customers")

            customers = spark.sql("""
            SELECT c.customer_id, c.gender, c.date_of_birth, c.account_status,
                  a.city, a.state_province, a.postal_code, a.country,
                  c.account_created_at,c.last_login_date,c.is_active
            FROM customers c
            LEFT JOIN addresses a
                  ON c.address_id = a.address_id
            """)
            dataframes["customers"] = customers
            print("Merged addresses into customers.")
            dataframes.pop("addresses", None)

      if not "categories" in dataframes:
            print("Categories DataFrame is missing.")
            return
      
      if "categories" in dataframes and "products" in dataframes:
            dataframes["categories"].createOrReplaceTempView("categories")
            dataframes["products"].createOrReplaceTempView("products")

            products = spark.sql("""
            SELECT p.product_id, p.product_name, p.sku, cat.category, cat.sub_category,
                  p.brand, p.supplier_id, p.cost_price, p.sell_price, p.launch_date,
                  p.weight, p.dimensions, p.color, p.size, p.material
            FROM products p
            LEFT JOIN categories cat
                  ON p.category_id = cat.category_id
            """)
            dataframes["products"] = products
            print("Merged categories into products.")
            dataframes.pop("categories", None)
merge()

Merged addresses into customers.
Merged categories into products.

# Cleaning null values and Duplicate values

In [11]:
def check_dups():
    for name, df in dataframes.items():
        dup_rows = df.groupBy(*df.columns).count().filter("count > 1")
        row_count = dup_rows.count()
        print(f"The number of duplicate rows in {name} is: {row_count}")
check_dups()

The number of duplicate rows in customer_sessions is: 65
The number of duplicate rows in customers is: 28
The number of duplicate rows in inventory is: 33
The number of duplicate rows in marketing_campaigns is: 11
The number of duplicate rows in order_items is: 104
The number of duplicate rows in orders is: 37
The number of duplicate rows in payments is: 48
The number of duplicate rows in products is: 18
The number of duplicate rows in reviews is: 40
The number of duplicate rows in shopping_cart is: 47
The number of duplicate rows in suppliers is: 13
The number of duplicate rows in wishlist is: 42

In [12]:
def drop_dups():
    for table in dataframes.keys():
        dataframes[table] = dataframes[table].dropDuplicates()
drop_dups()

In [13]:
check_dups()

The number of duplicate rows in customer_sessions is: 0
The number of duplicate rows in customers is: 0
The number of duplicate rows in inventory is: 0
The number of duplicate rows in marketing_campaigns is: 0
The number of duplicate rows in order_items is: 0
The number of duplicate rows in orders is: 0
The number of duplicate rows in payments is: 0
The number of duplicate rows in products is: 0
The number of duplicate rows in reviews is: 0
The number of duplicate rows in shopping_cart is: 0
The number of duplicate rows in suppliers is: 0
The number of duplicate rows in wishlist is: 0

In [14]:
def drop_null_rows(table, col_name):
    if table in dataframes:
        df = dataframes[table]
        if col_name in df.columns:
            before = df.count()
            cleaned = df.filter(F.col(col_name).isNotNull())
            dataframes[table] = cleaned
            after = cleaned.count()
            print(f"Removed {before - after} rows from '{table}' where '{col_name}' is NULL")
        else:
            print(f"Column '{col_name}' not found in '{table}'")    
    else:
        print(f"Table '{table}' not found in dataframes")

Dropping all rows from all tables where primary key and foreign keys are null

In [15]:
all_ids = ["session_id","customer_id", "address_id", "product_id", "supplier_id", "order_id", "order_item_id", "payment_id", "campaign_id","cart_id", "review_id", "wishlist_id"]
for table in dataframes.keys():
    for col in dataframes[table].columns:
        if col in all_ids:
            drop_null_rows(table, col)

Removed 0 rows from 'customer_sessions' where 'session_id' is NULL
Removed 1898 rows from 'customer_sessions' where 'customer_id' is NULL
Removed 10 rows from 'customers' where 'customer_id' is NULL
Removed 42 rows from 'inventory' where 'product_id' is NULL
Removed 70 rows from 'inventory' where 'supplier_id' is NULL
Removed 19 rows from 'marketing_campaigns' where 'campaign_id' is NULL
Removed 42 rows from 'order_items' where 'order_item_id' is NULL
Removed 127 rows from 'order_items' where 'order_id' is NULL
Removed 104 rows from 'order_items' where 'product_id' is NULL
Removed 41 rows from 'orders' where 'order_id' is NULL
Removed 35 rows from 'orders' where 'customer_id' is NULL
Removed 33 rows from 'payments' where 'payment_id' is NULL
Removed 81 rows from 'payments' where 'order_id' is NULL
Removed 15 rows from 'products' where 'product_id' is NULL
Removed 41 rows from 'products' where 'supplier_id' is NULL
Removed 29 rows from 'reviews' where 'review_id' is NULL
Removed 71 rows from 'reviews' where 'product_id' is NULL
Removed 184 rows from 'reviews' where 'customer_id' is NULL
Removed 41 rows from 'shopping_cart' where 'cart_id' is NULL
Removed 1111 rows from 'shopping_cart' where 'customer_id' is NULL
Removed 0 rows from 'shopping_cart' where 'session_id' is NULL
Removed 59 rows from 'shopping_cart' where 'product_id' is NULL
Removed 11 rows from 'suppliers' where 'supplier_id' is NULL
Removed 19 rows from 'wishlist' where 'wishlist_id' is NULL
Removed 34 rows from 'wishlist' where 'customer_id' is NULL
Removed 52 rows from 'wishlist' where 'product_id' is NULL

In [16]:
def check_nulls():
    for df in dataframes.values():
        null_counts = df.select([F.sum(F.col(c).isNull().cast("int")).alias(c) for c in df.columns])
        null_counts.show()
check_nulls()

+----------+-----------+-------------+-----------+-----------+---------------+------------+---------------+---------------+---------------------+
|session_id|customer_id|session_start|session_end|device_type|referrer_source|pages_viewed|products_viewed|conversion_flag|cart_abandonment_flag|
+----------+-----------+-------------+-----------+-----------+---------------+------------+---------------+---------------+---------------------+
|         0|          0|          280|        135|          0|              0|         188|            103|            134|                   27|
+----------+-----------+-------------+-----------+-----------+---------------+------------+---------------+---------------+---------------------+

+-----------+------+-------------+--------------+----+--------------+-----------+-------+------------------+---------------+---------+
|customer_id|gender|date_of_birth|account_status|city|state_province|postal_code|country|account_created_at|last_login_date|is_active|
+-----------+------+-------------+--------------+----+--------------+-----------+-------+------------------+---------------+---------+
|          0|     0|          104|             0|  33|            33|         33|     33|                45|             84|       40|
+-----------+------+-------------+--------------+----+--------------+-----------+-------+------------------+---------------+---------+

+------------+----------+-----------+--------------+-----------------+-------------------+-------------------+------------+
|inventory_id|product_id|supplier_id|stock_quantity|reserved_quantity|minimum_stock_level|last_restocked_date|storage_cost|
+------------+----------+-----------+--------------+-----------------+-------------------+-------------------+------------+
|           0|         0|          0|            27|               28|                 27|                 20|          18|
+------------+----------+-----------+--------------+-----------------+-------------------+-------------------+------------+

+-----------+-------------+-------------+----------+--------+------+------------+-----------+------+-----------+---------------+---------------+
|campaign_id|campaign_name|campaign_type|start_date|end_date|budget|spent_amount|impressions|clicks|conversions|target_audience|campaign_status|
+-----------+-------------+-------------+----------+--------+------+------------+-----------+------+-----------+---------------+---------------+
|          0|            0|            8|        28|      28|    13|          19|         25|    35|         28|              8|              8|
+-----------+-------------+-------------+----------+--------+------+------------+-----------+------+-----------+---------------+---------------+

+-------------+--------+----------+--------+---------------+------------+
|order_item_id|order_id|product_id|quantity|discount_amount|product_cost|
+-------------+--------+----------+--------+---------------+------------+
|            0|       0|         0|    2333|              8|          58|
+-------------+--------+----------+--------+---------------+------------+

+--------+-----------+------------+--------+----------+-------------+--------------+------------+--------+---------------+----------------+------------------+
|order_id|customer_id|order_status|subtotal|tax_amount|shipping_cost|total_discount|total_amount|currency|order_placed_at|order_shipped_at|order_delivered_at|
+--------+-----------+------------+--------+----------+-------------+--------------+------------+--------+---------------+----------------+------------------+
|       0|          0|           0|      21|        37|            0|            30|          37|       0|             64|            1060|              1540|
+--------+-----------+------------+--------+----------+-------------+--------------+------------+--------+---------------+----------------+------------------+

+----------+--------+--------------+----------------+--------------+--------------+--------------+-------------+-----------+------------+
|payment_id|order_id|payment_method|payment_provider|payment_status|transaction_id|processing_fee|refund_amount|refund_date|payment_date|
+----------+--------+--------------+----------------+--------------+--------------+--------------+-------------+-----------+------------+
|         0|       0|             0|               0|             0|            70|            45|            0|       2880|         175|
+----------+--------+--------------+----------------+--------------+--------------+--------------+-------------+-----------+------------+

+----------+------------+---+--------+------------+-----+-----------+----------+----------+-----------+------+----------+-----+----+--------+
|product_id|product_name|sku|category|sub_category|brand|supplier_id|cost_price|sell_price|launch_date|weight|dimensions|color|size|material|
+----------+------------+---+--------+------------+-----+-----------+----------+----------+-----------+------+----------+-----+----+--------+
|         0|           0|  0|      42|          42|    0|          0|         5|        12|         24|    11|         0|    0|   0|       0|
+----------+------------+---+--------+------------+-----+-----------+----------+----------+-----------+------+----------+-----+----+--------+

+---------+----------+-----------+------+------------+-----------+-----------+
|review_id|product_id|customer_id|rating|review_title|review_desc|review_date|
+---------+----------+-----------+------+------------+-----------+-----------+
|        0|         0|          0|    93|           0|          0|         83|
+---------+----------+-----------+------+------------+-----------+-----------+

+-------+-----------+----------+----------+--------+----------+----------+-----------+
|cart_id|customer_id|session_id|product_id|quantity|unit_price|added_date|cart_status|
+-------+-----------+----------+----------+--------+----------+----------+-----------+
|      0|          0|         0|         0|      35|        24|        58|          0|
+-------+-----------+----------+----------+--------+----------+----------+-----------+

+-----------+---------------+---------------+------------+-----------+-------------------+-----------------+----+-----+--------+-------+
|supplier_id|supplier_rating|supplier_status|is_preferred|is_verified|contract_start_date|contract_end_date|city|state|zip_code|country|
+-----------+---------------+---------------+------------+-----------+-------------------+-----------------+----+-----+--------+-------+
|          0|             35|              0|          46|         38|                 57|               58|   0|    0|       0|      0|
+-----------+---------------+---------------+------------+-----------+-------------------+-----------------+----+-----+--------+-------+

+-----------+-----------+----------+----------+--------------+------------+
|wishlist_id|customer_id|product_id|added_date|purchased_date|removed_date|
+-----------+-----------+----------+----------+--------------+------------+
|          0|          0|         0|        77|          1601|        1739|
+-----------+-----------+----------+----------+--------------+------------+

Filling null values fo non numeric columns

In [17]:
def fill_null():
    if "customers" in dataframes.keys():
        dataframes["customers"] = dataframes["customers"].fillna({
            "gender": "Unknown",
            "account_status": "Unknown",
            "city": "Unknown",
            "state_province": "Unknown",
            "postal_code": "00000",
            "country": "Unknown",
            "date_of_birth": "1900-01-01",
            "account_created_at": "1900-01-01",
            "last_login_date": "1900-01-01",
            "is_active": "false"
        })
    else:
        print("Customers DataFrame is missing.")

    if "suppliers" in dataframes.keys():
        dataframes["suppliers"] = dataframes["suppliers"].fillna({
            "supplier_rating": 0.0,
            "supplier_status": "Unknown",
            "is_preferred": "false",
            "is_verified": "false",
            "contract_start_date": "1900-01-01",
            "contract_end_date": "1900-01-01",
            "city": "Unknown",
            "state": "Unknown",
            "zip_code": "00000",
            "country": "Unknown",
        })
    else:
        print("Suppliers DataFrame is missing.")

    if "products" in dataframes.keys():
        dataframes["products"] = dataframes["products"].fillna({
            "product_name": "Unknown",
            "sku": "Unknown",
            "category": "Unknown",
            "sub_category": "Unknown",
            "brand": "Unknown",
            "launch_date": "1900-01-01",
            "weight": "0.0",
            "dimensions": "Unknown",
            "color": "Unknown",
            "size": "Unknown",
            "material": "Unknown"
        })
    else:
        print("Products DataFrame is missing.")

    if "wishlist" in dataframes.keys():
        dataframes["wishlist"] = dataframes["wishlist"].fillna({
            "added_date": "1900-01-01",
            "purchased_date": "1900-01-01",
            "removed_date": "1900-01-01"
        })
    else:
        print("Wishlist DataFrame is missing.")

    if "shopping_cart" in dataframes.keys():
        dataframes["shopping_cart"] = dataframes["shopping_cart"].fillna({
            "added_date": "1900-01-01",
            "cart_status": "Unknown"
        })
    else:
        print("Shopping Cart DataFrame is missing.")    
        
    if "inventory" in dataframes.keys():
        dataframes["inventory"] = dataframes["inventory"].fillna({
            "last_restocked_date": "1900-01-01"
        })
    else:
        print("Inventory DataFrame is missing.")

    if "customer_sessions" in dataframes.keys():
        dataframes["customer_sessions"] = dataframes["customer_sessions"].fillna({
            "session_start": "1900-01-01",
            "session_end": "1900-01-01",
            "device_type": "Unknown",
            "referrer_source": "Unknown",
            "pages_viewed": 0,
            "products_viewed": 0,
            "conversion_flag": "false",
            "cart_abandonment_flag": "false"
        })
    else:
        print("Customer Sessions DataFrame is missing.")

    if "reviews" in dataframes.keys():
        dataframes["reviews"] = dataframes["reviews"].fillna({
            "review_date": "1900-01-01",
            "review_title": "Unknown",
            "review_desc": "Unknown"
        })
    else:
        print("Reviews DataFrame is missing.")

    if "orders" in dataframes.keys():
        dataframes["orders"] = dataframes["orders"].fillna({
            "order_status": "Unknown",
            "order_placed_at": "1900-01-01",
            "order_shipped_at": "1900-01-01",
            "order_delivered_at": "1900-01-01",
            "currency": "Unknown",
        })
    else:
        print("Orders DataFrame is missing.")

    if "payments" in dataframes.keys():
        dataframes["payments"] = dataframes["payments"].fillna({
            "payment_method": "Unknown",
            "payment_status": "Unknown",
            "payment_date": "1900-01-01",
            "transaction_id": "Unknown ",
            "payment_provider": "Unknown",
            "refund_date": "1900-01-01"
        })
    else:
        print("Payments DataFrame is missing.")

    if "marketing_campaigns" in dataframes.keys():
        dataframes["marketing_campaigns"] = dataframes["marketing_campaigns"].fillna({
            "start_date": "1900-01-01",
            "end_date": "1900-01-01",
            "campaign_type": "Unknown",
            "campaign_status": "Unknown",
            "campaign_name": "Unknown",
            "target_audience": "Unknown",
            "impressions": 0,
            "clicks": 0,
            "conversions": 0
        })
    else:
        print("Marketing Campaigns DataFrame is missing.")

fill_null()

Imputing missing numeric values

In [18]:


def impute_missing_values(table, numeric_cols):

    total_rows = dataframes[table].count()
    print(f"Total rows: {total_rows}")

    non_null_counts = dataframes[table].select([F.count(F.col(c)).alias(c) for c in numeric_cols]).collect()[0]

    all_null_cols = []
    valid_numeric_cols = []

    for col_name in numeric_cols:
        non_null_count = non_null_counts[col_name]
        if non_null_count == 0:
            all_null_cols.append(col_name)
            print(f"🚫 {col_name}: ALL NULL - will fill with 0")
        else:
            valid_numeric_cols.append(col_name)
            null_count = total_rows - non_null_count
            print(f"✅ {col_name}: {non_null_count} non-null, {null_count} null - will impute")

    print(f"\nAll-NULL columns: {all_null_cols}")
    print(f"Valid columns for imputation: {valid_numeric_cols}")


    if all_null_cols:
        fill_dict = {col: 0 for col in all_null_cols}
        dataframes[table] = dataframes[table].fillna(fill_dict)
        print(f"✅ Filled all-NULL columns with 0: {all_null_cols}")


    if valid_numeric_cols:
        imputer = Imputer(inputCols=valid_numeric_cols, outputCols=valid_numeric_cols).setStrategy("median")
        dataframes[table] = imputer.fit(dataframes[table]).transform(dataframes[table])
        print(f"✅ Successfully imputed columns with median: {valid_numeric_cols}")
    else:
        print("⚠️ No valid columns found for imputation")

    print("\n" + "="*50)
    print("🔍 Final check for NULL values in inventory:")
    print("="*50)

In [19]:
def impute_all():
    all_ids = ["session_id","customer_id", "address_id", "product_id", "supplier_id", "order_id", "order_item_id", "payment_id", "campaign_id","cart_id", "review_id", "wishlist_id"]
    for table in dataframes.keys():
        numeric_cols = [field.name for field in dataframes[table].schema.fields 
                        if isinstance(field.dataType, (IntegerType, LongType, FloatType, DoubleType, DecimalType))] 
        numeric_cols = [col for col in numeric_cols if col not in all_ids]
        if numeric_cols:
            print(f"\nImputing missing values for table: {table}")
            impute_missing_values(table, numeric_cols)
        else:
            print(f"\nNo numeric columns found in table: {table}, skipping imputation.")

impute_all()

Imputing missing values for table: customer_sessions
Total rows: 3158
✅ pages_viewed: 3158 non-null, 0 null - will impute
✅ products_viewed: 3158 non-null, 0 null - will impute

All-NULL columns: []
Valid columns for imputation: ['pages_viewed', 'products_viewed']
✅ Successfully imputed columns with median: ['pages_viewed', 'products_viewed']

==================================================
🔍 Final check for NULL values in inventory:
==================================================

No numeric columns found in table: customers, skipping imputation.

Imputing missing values for table: inventory
Total rows: 1385
✅ stock_quantity: 1358 non-null, 27 null - will impute
✅ reserved_quantity: 1357 non-null, 28 null - will impute
✅ minimum_stock_level: 1358 non-null, 27 null - will impute
✅ storage_cost: 1367 non-null, 18 null - will impute

All-NULL columns: []
Valid columns for imputation: ['stock_quantity', 'reserved_quantity', 'minimum_stock_level', 'storage_cost']
✅ Successfully imputed columns with median: ['stock_quantity', 'reserved_quantity', 'minimum_stock_level', 'storage_cost']

==================================================
🔍 Final check for NULL values in inventory:
==================================================

Imputing missing values for table: marketing_campaigns
Total rows: 498
✅ budget: 485 non-null, 13 null - will impute
✅ spent_amount: 479 non-null, 19 null - will impute
✅ impressions: 498 non-null, 0 null - will impute
✅ clicks: 498 non-null, 0 null - will impute
✅ conversions: 498 non-null, 0 null - will impute

All-NULL columns: []
Valid columns for imputation: ['budget', 'spent_amount', 'impressions', 'clicks', 'conversions']
✅ Successfully imputed columns with median: ['budget', 'spent_amount', 'impressions', 'clicks', 'conversions']

==================================================
🔍 Final check for NULL values in inventory:
==================================================

Imputing missing values for table: order_items
Total rows: 4719
✅ quantity: 2386 non-null, 2333 null - will impute
✅ discount_amount: 4711 non-null, 8 null - will impute
✅ product_cost: 4661 non-null, 58 null - will impute

All-NULL columns: []
Valid columns for imputation: ['quantity', 'discount_amount', 'product_cost']
✅ Successfully imputed columns with median: ['quantity', 'discount_amount', 'product_cost']

==================================================
🔍 Final check for NULL values in inventory:
==================================================

Imputing missing values for table: orders
Total rows: 2458
✅ subtotal: 2437 non-null, 21 null - will impute
✅ tax_amount: 2421 non-null, 37 null - will impute
✅ shipping_cost: 2458 non-null, 0 null - will impute
✅ total_discount: 2428 non-null, 30 null - will impute
✅ total_amount: 2421 non-null, 37 null - will impute

All-NULL columns: []
Valid columns for imputation: ['subtotal', 'tax_amount', 'shipping_cost', 'total_discount', 'total_amount']
✅ Successfully imputed columns with median: ['subtotal', 'tax_amount', 'shipping_cost', 'total_discount', 'total_amount']

==================================================
🔍 Final check for NULL values in inventory:
==================================================

Imputing missing values for table: payments
Total rows: 3412
✅ processing_fee: 3367 non-null, 45 null - will impute
✅ refund_amount: 3412 non-null, 0 null - will impute

All-NULL columns: []
Valid columns for imputation: ['processing_fee', 'refund_amount']
✅ Successfully imputed columns with median: ['processing_fee', 'refund_amount']

==================================================
🔍 Final check for NULL values in inventory:
==================================================

Imputing missing values for table: products
Total rows: 980
✅ cost_price: 975 non-null, 5 null - will impute
✅ sell_price: 968 non-null, 12 null - will impute
✅ weight: 980 non-null, 0 null - will impute

All-NULL columns: []
Valid columns for imputation: ['cost_price', 'sell_price', 'weight']
✅ Successfully imputed columns with median: ['cost_price', 'sell_price', 'weight']

==================================================
🔍 Final check for NULL values in inventory:
==================================================

Imputing missing values for table: reviews
Total rows: 2738
✅ rating: 2645 non-null, 93 null - will impute

All-NULL columns: []
Valid columns for imputation: ['rating']
✅ Successfully imputed columns with median: ['rating']

==================================================
🔍 Final check for NULL values in inventory:
==================================================

Imputing missing values for table: shopping_cart
Total rows: 1817
✅ quantity: 1782 non-null, 35 null - will impute
✅ unit_price: 1793 non-null, 24 null - will impute

All-NULL columns: []
Valid columns for imputation: ['quantity', 'unit_price']
✅ Successfully imputed columns with median: ['quantity', 'unit_price']

==================================================
🔍 Final check for NULL values in inventory:
==================================================

Imputing missing values for table: suppliers
Total rows: 1000
✅ supplier_rating: 1000 non-null, 0 null - will impute

All-NULL columns: []
Valid columns for imputation: ['supplier_rating']
✅ Successfully imputed columns with median: ['supplier_rating']

==================================================
🔍 Final check for NULL values in inventory:
==================================================

No numeric columns found in table: wishlist, skipping imputation.

In [20]:
check_nulls()

+----------+-----------+-------------+-----------+-----------+---------------+------------+---------------+---------------+---------------------+
|session_id|customer_id|session_start|session_end|device_type|referrer_source|pages_viewed|products_viewed|conversion_flag|cart_abandonment_flag|
+----------+-----------+-------------+-----------+-----------+---------------+------------+---------------+---------------+---------------------+
|         0|          0|            0|          0|          0|              0|           0|              0|              0|                    0|
+----------+-----------+-------------+-----------+-----------+---------------+------------+---------------+---------------+---------------------+

+-----------+------+-------------+--------------+----+--------------+-----------+-------+------------------+---------------+---------+
|customer_id|gender|date_of_birth|account_status|city|state_province|postal_code|country|account_created_at|last_login_date|is_active|
+-----------+------+-------------+--------------+----+--------------+-----------+-------+------------------+---------------+---------+
|          0|     0|            0|             0|   0|             0|          0|      0|                 0|              0|        0|
+-----------+------+-------------+--------------+----+--------------+-----------+-------+------------------+---------------+---------+

+------------+----------+-----------+--------------+-----------------+-------------------+-------------------+------------+
|inventory_id|product_id|supplier_id|stock_quantity|reserved_quantity|minimum_stock_level|last_restocked_date|storage_cost|
+------------+----------+-----------+--------------+-----------------+-------------------+-------------------+------------+
|           0|         0|          0|             0|                0|                  0|                  0|           0|
+------------+----------+-----------+--------------+-----------------+-------------------+-------------------+------------+

+-----------+-------------+-------------+----------+--------+------+------------+-----------+------+-----------+---------------+---------------+
|campaign_id|campaign_name|campaign_type|start_date|end_date|budget|spent_amount|impressions|clicks|conversions|target_audience|campaign_status|
+-----------+-------------+-------------+----------+--------+------+------------+-----------+------+-----------+---------------+---------------+
|          0|            0|            0|         0|       0|     0|           0|          0|     0|          0|              0|              0|
+-----------+-------------+-------------+----------+--------+------+------------+-----------+------+-----------+---------------+---------------+

+-------------+--------+----------+--------+---------------+------------+
|order_item_id|order_id|product_id|quantity|discount_amount|product_cost|
+-------------+--------+----------+--------+---------------+------------+
|            0|       0|         0|       0|              0|           0|
+-------------+--------+----------+--------+---------------+------------+

+--------+-----------+------------+--------+----------+-------------+--------------+------------+--------+---------------+----------------+------------------+
|order_id|customer_id|order_status|subtotal|tax_amount|shipping_cost|total_discount|total_amount|currency|order_placed_at|order_shipped_at|order_delivered_at|
+--------+-----------+------------+--------+----------+-------------+--------------+------------+--------+---------------+----------------+------------------+
|       0|          0|           0|       0|         0|            0|             0|           0|       0|              0|               0|                 0|
+--------+-----------+------------+--------+----------+-------------+--------------+------------+--------+---------------+----------------+------------------+

+----------+--------+--------------+----------------+--------------+--------------+--------------+-------------+-----------+------------+
|payment_id|order_id|payment_method|payment_provider|payment_status|transaction_id|processing_fee|refund_amount|refund_date|payment_date|
+----------+--------+--------------+----------------+--------------+--------------+--------------+-------------+-----------+------------+
|         0|       0|             0|               0|             0|             0|             0|            0|          0|           0|
+----------+--------+--------------+----------------+--------------+--------------+--------------+-------------+-----------+------------+

+----------+------------+---+--------+------------+-----+-----------+----------+----------+-----------+------+----------+-----+----+--------+
|product_id|product_name|sku|category|sub_category|brand|supplier_id|cost_price|sell_price|launch_date|weight|dimensions|color|size|material|
+----------+------------+---+--------+------------+-----+-----------+----------+----------+-----------+------+----------+-----+----+--------+
|         0|           0|  0|       0|           0|    0|          0|         0|         0|          0|     0|         0|    0|   0|       0|
+----------+------------+---+--------+------------+-----+-----------+----------+----------+-----------+------+----------+-----+----+--------+

+---------+----------+-----------+------+------------+-----------+-----------+
|review_id|product_id|customer_id|rating|review_title|review_desc|review_date|
+---------+----------+-----------+------+------------+-----------+-----------+
|        0|         0|          0|     0|           0|          0|          0|
+---------+----------+-----------+------+------------+-----------+-----------+

+-------+-----------+----------+----------+--------+----------+----------+-----------+
|cart_id|customer_id|session_id|product_id|quantity|unit_price|added_date|cart_status|
+-------+-----------+----------+----------+--------+----------+----------+-----------+
|      0|          0|         0|         0|       0|         0|         0|          0|
+-------+-----------+----------+----------+--------+----------+----------+-----------+

+-----------+---------------+---------------+------------+-----------+-------------------+-----------------+----+-----+--------+-------+
|supplier_id|supplier_rating|supplier_status|is_preferred|is_verified|contract_start_date|contract_end_date|city|state|zip_code|country|
+-----------+---------------+---------------+------------+-----------+-------------------+-----------------+----+-----+--------+-------+
|          0|              0|              0|           0|          0|                  0|                0|   0|    0|       0|      0|
+-----------+---------------+---------------+------------+-----------+-------------------+-----------------+----+-----+--------+-------+

+-----------+-----------+----------+----------+--------------+------------+
|wishlist_id|customer_id|product_id|added_date|purchased_date|removed_date|
+-----------+-----------+----------+----------+--------------+------------+
|          0|          0|         0|         0|             0|           0|
+-----------+-----------+----------+----------+--------------+------------+

Standardizing Numerical columns by removing outliers

In [21]:
def remove_outliers(table_name, columns):
    if table_name not in dataframes:
        print(f"Table {table_name} not found")
        return
    
    df = dataframes[table_name]
    result_df = df
    
    for column in columns:
        if column not in df.columns:
            print(f"Column {column} not found in {table_name}")
            continue
            
        print(f"\nProcessing outliers for {column} in {table_name}...")
        quantiles = result_df.approxQuantile(column, [0.01, 0.99], 0.0)
        low_cutoff, high_cutoff = quantiles[0], quantiles[1]
        
        print(f"  {column} - Low cutoff: {low_cutoff}, High cutoff: {high_cutoff}")
        if low_cutoff < 0:
            low_cutoff = 0
            print(f"  Adjusted Low cutoff for {column} to 0 since it was negative.")
            
        before_count = result_df.count()
        result_df = result_df.filter(
            (F.col(column) >= low_cutoff) & (F.col(column) <= high_cutoff)
        )
        after_count = result_df.count()
        
        removed = before_count - after_count
        print(f"  Removed {removed} outlier rows based on {column}")
        
        
       
    dataframes[table_name] = result_df
    print(f"\n✅ Completed outlier removal for {table_name}")

In [22]:
def remove_all_outliers():
    all_ids = ["session_id","customer_id", "address_id", "product_id", "supplier_id", "order_id", "order_item_id", "payment_id", "campaign_id","cart_id", "review_id", "wishlist_id"]
    for table in dataframes.keys():
        numeric_cols = [field.name for field in dataframes[table].schema.fields
                        if isinstance(field.dataType, (IntegerType, LongType, FloatType, DoubleType, DecimalType))
                       ]
        numeric_cols = [column_name for column_name in numeric_cols if column_name not in all_ids]
        if numeric_cols:
            print(f"\nRemoving outliers for table: {table}")  
            remove_outliers(table, numeric_cols)
        else:
            print(f"\nNo numeric columns found in table: {table}, skipping outlier removal.")

remove_all_outliers()

Removing outliers for table: customer_sessions

Processing outliers for pages_viewed in customer_sessions...
  pages_viewed - Low cutoff: -4.0, High cutoff: 30.0
  Adjusted Low cutoff for pages_viewed to 0 since it was negative.
  Removed 71 outlier rows based on pages_viewed

Processing outliers for products_viewed in customer_sessions...
  products_viewed - Low cutoff: 0.0, High cutoff: 20.0
  Removed 28 outlier rows based on products_viewed

✅ Completed outlier removal for customer_sessions

No numeric columns found in table: customers, skipping outlier removal.

Removing outliers for table: inventory

Processing outliers for stock_quantity in inventory...
  stock_quantity - Low cutoff: 0.0, High cutoff: 952.0
  Removed 13 outlier rows based on stock_quantity

Processing outliers for reserved_quantity in inventory...
  reserved_quantity - Low cutoff: 0.0, High cutoff: 462.0
  Removed 13 outlier rows based on reserved_quantity

Processing outliers for minimum_stock_level in inventory...
  minimum_stock_level - Low cutoff: 0.0, High cutoff: 194.0
  Removed 13 outlier rows based on minimum_stock_level

Processing outliers for storage_cost in inventory...
  storage_cost - Low cutoff: 0.0010000000474974513, High cutoff: 4.96999979019165
  Removed 25 outlier rows based on storage_cost

✅ Completed outlier removal for inventory

Removing outliers for table: marketing_campaigns

Processing outliers for budget in marketing_campaigns...
  budget - Low cutoff: 282.04998779296875, High cutoff: 466082.5
  Removed 8 outlier rows based on budget

Processing outliers for spent_amount in marketing_campaigns...
  spent_amount - Low cutoff: 0.0, High cutoff: 136119.390625
  Removed 4 outlier rows based on spent_amount

Processing outliers for impressions in marketing_campaigns...
  impressions - Low cutoff: 0.0, High cutoff: 7993742.0
  Removed 5 outlier rows based on impressions

Processing outliers for clicks in marketing_campaigns...
  clicks - Low cutoff: 0.0, High cutoff: 221641.0
  Removed 4 outlier rows based on clicks

Processing outliers for conversions in marketing_campaigns...
  conversions - Low cutoff: 0.0, High cutoff: 9104.0
  Removed 4 outlier rows based on conversions

✅ Completed outlier removal for marketing_campaigns

Removing outliers for table: order_items

Processing outliers for quantity in order_items...
  quantity - Low cutoff: 0.0, High cutoff: 631.0
  Removed 60 outlier rows based on quantity

Processing outliers for discount_amount in order_items...
  discount_amount - Low cutoff: -26.860000610351562, High cutoff: 1580.9000244140625
  Adjusted Low cutoff for discount_amount to 0 since it was negative.
  Removed 116 outlier rows based on discount_amount

Processing outliers for product_cost in order_items...
  product_cost - Low cutoff: 6.710000038146973, High cutoff: 307.04998779296875
  Removed 90 outlier rows based on product_cost

✅ Completed outlier removal for order_items

Removing outliers for table: orders

Processing outliers for subtotal in orders...
  subtotal - Low cutoff: 17.170000076293945, High cutoff: 1983.260009765625
  Removed 48 outlier rows based on subtotal

Processing outliers for tax_amount in orders...
  tax_amount - Low cutoff: -13.579999923706055, High cutoff: 285.75
  Adjusted Low cutoff for tax_amount to 0 since it was negative.
  Removed 61 outlier rows based on tax_amount

Processing outliers for shipping_cost in orders...
  shipping_cost - Low cutoff: 0.0, High cutoff: 43.18000030517578
  Removed 23 outlier rows based on shipping_cost

Processing outliers for total_discount in orders...
  total_discount - Low cutoff: 0.0, High cutoff: 524.010009765625
  Removed 29 outlier rows based on total_discount

Processing outliers for total_amount in orders...
  total_amount - Low cutoff: 59.9900016784668, High cutoff: 2173.110107421875
  Removed 44 outlier rows based on total_amount

✅ Completed outlier removal for orders

Removing outliers for table: payments

Processing outliers for processing_fee in payments...
  processing_fee - Low cutoff: -2.380000114440918, High cutoff: 64.55000305175781
  Adjusted Low cutoff for processing_fee to 0 since it was negative.
  Removed 74 outlier rows based on processing_fee

Processing outliers for refund_amount in payments...
  refund_amount - Low cutoff: 0.0, High cutoff: 1821.780029296875
  Removed 33 outlier rows based on refund_amount

✅ Completed outlier removal for payments

Removing outliers for table: products

Processing outliers for cost_price in products...
  cost_price - Low cutoff: 13.109999656677246, High cutoff: 498.3500061035156
  Removed 18 outlier rows based on cost_price

Processing outliers for sell_price in products...
  sell_price - Low cutoff: 27.469999313354492, High cutoff: 1129.6700439453125
  Removed 17 outlier rows based on sell_price

Processing outliers for weight in products...
  weight - Low cutoff: 0.0, High cutoff: 9.880000114440918
  Removed 9 outlier rows based on weight

✅ Completed outlier removal for products

Removing outliers for table: reviews

Processing outliers for rating in reviews...
  rating - Low cutoff: 1.0, High cutoff: 5.0
  Removed 0 outlier rows based on rating

✅ Completed outlier removal for reviews

Removing outliers for table: shopping_cart

Processing outliers for quantity in shopping_cart...
  quantity - Low cutoff: 1.0, High cutoff: 20.0
  Removed 12 outlier rows based on quantity

Processing outliers for unit_price in shopping_cart...
  unit_price - Low cutoff: 0.0, High cutoff: 494.6700134277344
  Removed 25 outlier rows based on unit_price

✅ Completed outlier removal for shopping_cart

Removing outliers for table: suppliers

Processing outliers for supplier_rating in suppliers...
  supplier_rating - Low cutoff: -0.6499999761581421, High cutoff: 5.190000057220459
  Adjusted Low cutoff for supplier_rating to 0 since it was negative.
  Removed 25 outlier rows based on supplier_rating

✅ Completed outlier removal for suppliers

No numeric columns found in table: wishlist, skipping outlier removal.

In [23]:
def validate_dates_and_timestamps():
    
    from pyspark.sql.functions import current_date, current_timestamp, when, col
    from pyspark.sql.types import DateType, TimestampType
    
    print("🕒 Validating dates and timestamps...")
    
    for table_name, df in dataframes.items():
        print(f"\n📅 Processing {table_name}...")
        
        
        date_timestamp_cols = []
        for field in df.schema.fields:
            if isinstance(field.dataType, (DateType, TimestampType)):
                date_timestamp_cols.append((field.name, field.dataType))
        
        if not date_timestamp_cols:
            print(f"  ✅ No date/timestamp columns found in {table_name}")
            continue
            
        result_df = df
        
        for col_name, col_type in date_timestamp_cols:
            print(f"  🔍 Checking {col_name} ({col_type})...")
            
            if isinstance(col_type, DateType):
                
                future_count = result_df.filter(col(col_name) > current_date()).count()
                
                if future_count > 0:
                    print(f"    ⚠️ Found {future_count} future dates in {col_name}")
                    result_df = result_df.withColumn(
                        col_name,
                        when(col(col_name) > current_date(), current_date())
                        .otherwise(col(col_name))
                    )
                    print(f"    ✅ Updated {future_count} future dates to current date")
                else:
                    print(f"    ✅ No future dates found in {col_name}")
                    
            elif isinstance(col_type, TimestampType):
                
                future_count = result_df.filter(col(col_name) > current_timestamp()).count()
                
                if future_count > 0:
                    print(f"    ⚠️ Found {future_count} future timestamps in {col_name}")
                    result_df = result_df.withColumn(
                        col_name,
                        when(col(col_name) > current_timestamp(), current_timestamp())
                        .otherwise(col(col_name))
                    )
                    print(f"    ✅ Updated {future_count} future timestamps to current timestamp")
                else:
                    print(f"    ✅ No future timestamps found in {col_name}")
        
        dataframes[table_name] = result_df
    
    print("\n🎉 Date and timestamp validation completed!")


validate_dates_and_timestamps()

🕒 Validating dates and timestamps...

📅 Processing customer_sessions...
  🔍 Checking session_start (TimestampType())...
    ⚠️ Found 27 future timestamps in session_start
    ✅ Updated 27 future timestamps to current timestamp
  🔍 Checking session_end (TimestampType())...
    ⚠️ Found 25 future timestamps in session_end
    ✅ Updated 25 future timestamps to current timestamp

📅 Processing customers...
  🔍 Checking date_of_birth (DateType())...
    ✅ No future dates found in date_of_birth
  🔍 Checking account_created_at (TimestampType())...
    ✅ No future timestamps found in account_created_at
  🔍 Checking last_login_date (DateType())...
    ⚠️ Found 8 future dates in last_login_date
    ✅ Updated 8 future dates to current date

📅 Processing inventory...
  🔍 Checking last_restocked_date (DateType())...
    ✅ No future dates found in last_restocked_date

📅 Processing marketing_campaigns...
  🔍 Checking start_date (DateType())...
    ⚠️ Found 2 future dates in start_date
    ✅ Updated 2 future dates to current date
  🔍 Checking end_date (DateType())...
    ⚠️ Found 363 future dates in end_date
    ✅ Updated 363 future dates to current date

📅 Processing order_items...
  ✅ No date/timestamp columns found in order_items

📅 Processing orders...
  🔍 Checking order_placed_at (TimestampType())...
    ✅ No future timestamps found in order_placed_at
  🔍 Checking order_shipped_at (DateType())...
    ⚠️ Found 4 future dates in order_shipped_at
    ✅ Updated 4 future dates to current date
  🔍 Checking order_delivered_at (DateType())...
    ⚠️ Found 3 future dates in order_delivered_at
    ✅ Updated 3 future dates to current date

📅 Processing payments...
  🔍 Checking refund_date (DateType())...
    ⚠️ Found 4 future dates in refund_date
    ✅ Updated 4 future dates to current date
  🔍 Checking payment_date (DateType())...
    ⚠️ Found 11 future dates in payment_date
    ✅ Updated 11 future dates to current date

📅 Processing products...
  🔍 Checking launch_date (DateType())...
    ✅ No future dates found in launch_date

📅 Processing reviews...
  🔍 Checking review_date (TimestampType())...
    ✅ No future timestamps found in review_date

📅 Processing shopping_cart...
  🔍 Checking added_date (DateType())...
    ⚠️ Found 12 future dates in added_date
    ✅ Updated 12 future dates to current date

📅 Processing suppliers...
  🔍 Checking contract_start_date (DateType())...
    ✅ No future dates found in contract_start_date
  🔍 Checking contract_end_date (DateType())...
    ⚠️ Found 552 future dates in contract_end_date
    ✅ Updated 552 future dates to current date

📅 Processing wishlist...
  🔍 Checking added_date (DateType())...
    ⚠️ Found 18 future dates in added_date
    ✅ Updated 18 future dates to current date
  🔍 Checking purchased_date (DateType())...
    ⚠️ Found 4 future dates in purchased_date
    ✅ Updated 4 future dates to current date
  🔍 Checking removed_date (DateType())...
    ✅ No future dates found in removed_date

🎉 Date and timestamp validation completed!

In [24]:
dataframes["suppliers"].show(5)

+-----------+---------------+---------------+------------+-----------+-------------------+-----------------+---------------+-----------------+--------+-----------+
|supplier_id|supplier_rating|supplier_status|is_preferred|is_verified|contract_start_date|contract_end_date|           city|            state|zip_code|    country|
+-----------+---------------+---------------+------------+-----------+-------------------+-----------------+---------------+-----------------+--------+-----------+
|      10669|           3.38|      suspended|        true|       true|         2025-06-02|       2025-11-20|           燕市|        Guipúzcoa|406-2179|Biélorussie|
|      10757|           4.04|       active  |       false|       true|         2022-12-20|       2025-11-20|Barre-sur-Alves|Baden-Württemberg|446-7296|     Belize|
|      10733|           0.13|         active|        true|       true|         2025-03-05|       2025-11-20|         合肥市|        La Coruña|   55417|      Macao|
|      10742|           2.54|        pending|       false|      false|         2022-12-23|       2024-04-15|     Poulainnec|         Virginia|650-8904|      Italy|
|      10603|           0.95|        pending|       false|      false|         2023-12-05|       2025-11-20| Wolfratshausen|        Barcelona|054-6214|       德国|
+-----------+---------------+---------------+------------+-----------+-------------------+-----------------+---------------+-----------------+--------+-----------+
only showing top 5 rows

## Handling Gibberish Values

In [25]:
from pyspark.sql.functions import col, length, trim, when


def detect_gibberish_patterns():
    """
    Cleans specific columns with known gibberish or invalid data patterns 
    (like postal codes, dimensions, or status columns) across all tables.
    Invalid values are replaced with lit(NULL) (represented by F.lit(None)).
    """

    print("\n" + "=" * 60)
    print("🔍 DETECTING AND CLEANING GIBBERISH PATTERNS (Specific Columns)")
    print("=" * 60)

    # 1. Clean postal/zip code columns - Relaxed for international formats (Issue 2)
    # Replaced 'Unknown' with lit(NULL) (Issue 1)
    postal_columns = {"customers": "postal_code", "suppliers": "zip_code"}

    for table, col_name in postal_columns.items():
        if table in dataframes:
            df = dataframes[table]
            if col_name in df.columns:
                df = df.withColumn(
                    col_name,
                    when(
                        # Check for characters outside of letters, numbers, space, and hyphen
                        (col(col_name).rlike(r"[^a-zA-Z0-9 -]")) 
                        # Check for excessive length (permissive for international codes)
                        | (length(trim(col(col_name))) > 15) 
                        # Check for repeating patterns (e.g., AAAA, 1111)
                        | (col(col_name).rlike(r"(.)\1{3,}")), 
                        F.lit(None),  # Replace with lit(NULL)
                    ).otherwise(trim(col(col_name))),
                )
                dataframes[table] = df
                print(f"✅ Cleaned {col_name} in {table} (using flexible international check)")

    # 2. Clean dimensions column in products - Updated for 2D/3D and 'x'/'*' separators (Issue 3)
    # Replaced 'Unknown' with lit(NULL) (Issue 1)
    if "products" in dataframes:
        df = dataframes["products"]
        if "dimensions" in df.columns:
            # Regex accepts:
            # - Numeric/decimal values ([\d\.])
            # - Separators 'x', 'X', or '*' ([xX*])
            # - Optional second segment for 3D/3-part dimensions ((?:[xX*][\d\.]+)?\s*$)
            dimension_pattern = r"^\s*[\d\.]+[xX*][\d\.]+(?:[xX*][\d\.]+)?\s*$"
            
            df = df.withColumn(
                "dimensions",
                when(
                    # Only keep values that match the expected dimension format
                    col("dimensions").rlike(dimension_pattern),
                    trim(col("dimensions"))
                ).otherwise(F.lit(None)), # Replace with lit(NULL)
            )
            dataframes["products"] = df
            print("✅ Cleaned dimensions in products (Updated to accept 2D/3D and '*/x')")

    # 3. Clean state/province columns - Generic check for gibberish/non-alpha characters
    for table, col_name in {"customers": "state_province", "suppliers": "state"}.items():
        if table in dataframes:
            df = dataframes[table]
            if col_name in df.columns:
                df = df.withColumn(
                    col_name,
                    when(
                        col(col_name).rlike(r".*[*@#$%^&].*"), 
                        F.lit(None) # Replace with lit(NULL)
                    ).otherwise(col(col_name)),
                )
                dataframes[table] = df
                print(f"✅ Cleaned {col_name} in {table} (special chars check)")

    # 4. Clean city columns - Generic check for gibberish/numbers in city names
    for table in dataframes.keys():
        df = dataframes[table]
        if "city" in df.columns:
            df = df.withColumn(
                "city",
                when(
                    col("city").rlike(r".*[*@#$%^&0-9].*"), # Special chars or numbers
                    F.lit(None), # Replace with lit(NULL)
                ).otherwise(col("city")),
            )
            dataframes[table] = df
            print(f"✅ Cleaned city in {table} (special chars/numbers check)")

    # 5. Clean country columns - Generic check for gibberish/numbers in country names
    for table in dataframes.keys():
        df = dataframes[table]
        if "country" in df.columns:
            df = df.withColumn(
                "country",
                when(
                    col("country").rlike(r".*[*@#$%^&0-9].*"), # Special chars or numbers
                    F.lit(None), # Replace with lit(NULL)
                ).otherwise(col("country")),
            )
            dataframes[table] = df
            print(f"✅ Cleaned country in {table} (special chars/numbers check)")

    # 6. Validate status-type columns (e.g., order_status, account_status)
    status_columns = {
        "customers": ["account_status"],
        "orders": ["order_status", "delivery_status"],
        "payments": ["payment_status"],
        "suppliers": ["supplier_status"],
        "shopping_cart": ["cart_status"],
        "marketing_campaigns": ["campaign_status"],
    }
    
    valid_statuses = [
        "Active", "Inactive", "Pending", 
        "Shipped", "Delivered", "Cancelled", 
        "Completed", "Failed", "Success", 
        "Open", "Closed"
    ]

    for table, cols in status_columns.items():
        if table in dataframes:
            df = dataframes[table]
            for col_name in cols:
                if col_name in df.columns:
                    df = df.withColumn(
                        col_name,
                        when(
                            (col(col_name).isNull()) | (col(col_name).isin(valid_statuses)),
                            col(col_name)
                        ).otherwise(F.lit(None)) # Replace invalid status with lit(NULL)
                    )
                    dataframes[table] = df
                    print(f"✅ Cleaned {col_name} in {table} (status check)")

    # 7. Validate gender column
    if "customers" in dataframes and "gender" in dataframes["customers"].columns:
        df = dataframes["customers"]
        valid_genders = ["Male", "Female", "Other", "Prefer Not to Say", "X"]
        df = df.withColumn(
            "gender",
            when(
                (col("gender").isNull()) | (col("gender").isin(valid_genders)),
                col("gender")
            ).otherwise(F.lit(None)) # Replace invalid gender with lit(NULL)
        )
        dataframes["customers"] = df
        print("✅ Cleaned gender in customers (gender check)")

    print("=" * 60)
    print("✅ PATTERN DETECTION COMPLETED")
    print("=" * 60)
detect_gibberish_patterns()

============================================================
🔍 DETECTING AND CLEANING GIBBERISH PATTERNS (Specific Columns)
============================================================
✅ Cleaned postal_code in customers (using flexible international check)
✅ Cleaned zip_code in suppliers (using flexible international check)
✅ Cleaned dimensions in products (Updated to accept 2D/3D and '*/x')
✅ Cleaned state_province in customers (special chars check)
✅ Cleaned state in suppliers (special chars check)
✅ Cleaned city in customers (special chars/numbers check)
✅ Cleaned city in suppliers (special chars/numbers check)
✅ Cleaned country in customers (special chars/numbers check)
✅ Cleaned country in suppliers (special chars/numbers check)
✅ Cleaned account_status in customers (status check)
✅ Cleaned order_status in orders (status check)
✅ Cleaned payment_status in payments (status check)
✅ Cleaned supplier_status in suppliers (status check)
✅ Cleaned cart_status in shopping_cart (status check)
✅ Cleaned campaign_status in marketing_campaigns (status check)
✅ Cleaned gender in customers (gender check)
============================================================
✅ PATTERN DETECTION COMPLETED
============================================================

In [26]:
dataframes["suppliers"].show()

+-----------+---------------+---------------+------------+-----------+-------------------+-----------------+-----------------+-----------------+--------+--------------------+
|supplier_id|supplier_rating|supplier_status|is_preferred|is_verified|contract_start_date|contract_end_date|             city|            state|zip_code|             country|
+-----------+---------------+---------------+------------+-----------+-------------------+-----------------+-----------------+-----------------+--------+--------------------+
|      10669|           3.38|           NULL|        true|       true|         2025-06-02|       2025-11-20|             燕市|        Guipúzcoa|406-2179|         Biélorussie|
|      10757|           4.04|           NULL|       false|       true|         2022-12-20|       2025-11-20|  Barre-sur-Alves|Baden-Württemberg|446-7296|              Belize|
|      10733|           0.13|           NULL|        true|       true|         2025-03-05|       2025-11-20|           合肥市|        La Coruña|   55417|               Macao|
|      10742|           2.54|           NULL|       false|      false|         2022-12-23|       2024-04-15|       Poulainnec|         Virginia|650-8904|               Italy|
|      10603|           0.95|           NULL|       false|      false|         2023-12-05|       2025-11-20|   Wolfratshausen|        Barcelona|054-6214|                德国|
|      10932|           2.02|           NULL|       false|       true|         2023-04-02|       2023-11-04|             Lugo|       Maryland  |   28447|        セントルシア|
|      10731|           2.66|           NULL|       false|       true|         2024-09-23|       2025-11-20|           Zamora|         Virginia|   38055|             Belgien|
|      10728|           4.09|           NULL|       false|       true|         2023-07-31|       2025-11-20|Guilbert-la-Forêt|           Ciudad|   81289|Turks and Caicos ...|
|      10842|           3.36|           NULL|       false|       true|         2023-09-02|       2025-10-16|    Port Evanland|          HAMBURG|   82849|             Eritrea|
|      10419|           3.04|           NULL|       false|       true|         2024-10-01|       2025-06-30|       Samueltown|         Illinois|178-3587|          Seychellen|
|      10342|           2.92|           NULL|       false|       true|         2024-03-22|       2025-11-20|     横浜市港北区|         Zaragoza|277-5939|          Martinique|
|      10464|           2.55|           NULL|       false|       true|         2025-03-29|       2025-11-20|           調布市|           Madrid|   68514|          ミャンマー|
|      10416|            3.7|           NULL|       false|      false|         2024-12-03|       2025-11-20|             彬市|          Arizona|   17236|                Niue|
|      10185|           4.44|           NULL|       false|       true|         2025-10-03|       2025-11-20|         Palencia|          Alabama|574-9728|       Guinea Bissau|
|      10309|           4.99|           NULL|       false|       true|         2024-09-16|       2025-11-20| South Garryville|       California|   75388|            法罗群岛|
|      10626|           2.01|           NULL|       false|       true|         2023-05-28|       2025-02-04|        Port Jose|       Valladolid|   95134|               Haiti|
|      10048|           4.64|           NULL|       false|       true|         2024-02-23|       2025-02-14|           国立市|          Sevilla|886-2434|Micronésie (États...|
|      10818|           4.46|           NULL|       false|      false|         2024-08-04|       2025-11-20|   長生郡一宮町  |            Soria|348-8904|          哥斯达黎加|
|      10112|           4.46|           NULL|        true|      false|         2022-12-20|       2025-01-02|          Bernard|        Castellón|   06437|Géorgie du Sud et...|
|      10494|           4.51|           NULL|       false|      false|         2025-05-02|       2025-11-20| 西多摩郡日の出町|            Ceuta|   31328|       Afghanistan  |
+-----------+---------------+---------------+------------+-----------+-------------------+-----------------+-----------------+-----------------+--------+--------------------+
only showing top 20 rows

In [27]:
from pyspark.sql.functions import udf
from pyspark.sql.types import BooleanType, StringType
import re


def clean_text_columns(dataframes):
    """
    Clean gibberish from text columns across all tables using linguistic analysis.

    Args:
        dataframes (dict): Dictionary of table names to DataFrames

    Returns:
        dict: Updated dictionary with cleaned text
    """

    def is_gibberish_text(text):
        """Detect gibberish strings based on character ratios and patterns."""
        if not text or len(str(text)) < 3:
            return False

        text = str(text).lower()

        # Skip if text contains only alphanumeric (likely an ID/code)
        if text.replace("_", "").replace("-", "").isalnum() and any(
            c.isdigit() for c in text
        ):
            return False

        vowels = len(re.findall(r"[aeiou]", text))
        vowel_ratio = vowels / len(text)

        # English text typically has 30-40% vowels
        if vowel_ratio < 0.15 or vowel_ratio > 0.7:
            return True

        # Check for excessive consonant clusters (5+ in a row)
        if re.search(r"[bcdfghjklmnpqrstvwxyz]{5,}", text):
            return True

        # Check for repeating patterns (same char 4+ times)
        if re.search(r"(.)\1{3,}", text):
            return True

        return False

    is_gibberish_udf = udf(is_gibberish_text, BooleanType())

    print("\n" + "=" * 60)
    print("📝 CLEANING TEXT COLUMNS FOR GIBBERISH")
    print("=" * 60)

    # Patterns to identify columns that should NOT be cleaned
    skip_patterns = [
        "id",
        "key",
        "sku",
        "code",
        "zip",
        "postal",
        "dimension",
        "transaction",
    ]

    for table_name, df in dataframes.items():
        print(f"\n🔍 Checking {table_name}...")

        # Get string columns, excluding IDs and codes
        string_cols = [
            field.name
            for field in df.schema.fields
            if isinstance(field.dataType, StringType)
            and not any(pattern in field.name.lower() for pattern in skip_patterns)
        ]

        for col_name in string_cols:
            gibberish_count = df.filter(is_gibberish_udf(col(col_name))).count()

            if gibberish_count > 0:
                df = df.withColumn(
                    col_name,
                    when(is_gibberish_udf(col(col_name)), F.lit(None)).otherwise(
                        col(col_name)
                    ),
                )
                print(f"  ✅ Fixed {gibberish_count} gibberish values in {col_name}")

        dataframes[table_name] = df

    print("\n" + "=" * 60)
    print("✅ TEXT CLEANING COMPLETED")
    print("=" * 60)

    return dataframes
    """
    Clean gibberish from text columns across all tables using linguistic analysis.

    Uses a UDF to detect gibberish based on:
    - Vowel-to-consonant ratios
    - Excessive consonant clusters
    - Character repetition patterns

    Args:
        dataframes (dict): Dictionary of table names to DataFrames

    Returns:
        dict: Updated dictionary with cleaned text
    """

    def is_gibberish_text(text):
        """
        UDF to detect gibberish strings based on character ratios and patterns.
        """
        if not text or text in ["Unknown", "NULL", None]:
            return False

        text = str(text).lower()

        # Skip very short text
        if len(text) < 3:
            return False

        vowels = len(re.findall(r"[aeiou]", text))

        if len(text) > 3:
            vowel_ratio = vowels / len(text)
            # English text typically has 30-40% vowels
            if vowel_ratio < 0.15 or vowel_ratio > 0.7:
                return True

            # Check for excessive consonant clusters (4+ in a row)
            if re.search(r"[bcdfghjklmnpqrstvwxyz]{4,}", text):
                return True

            # Check for repeating patterns (same char 4+ times)
            if re.search(r"(.)\1{3,}", text):
                return True

        return False

    # Register UDF locally within function
    is_gibberish_udf = udf(is_gibberish_text, BooleanType())
    print("\n" + "=" * 60)
    print("📝 CLEANING TEXT COLUMNS FOR GIBBERISH")
    print("=" * 60)

    for table_name, df in dataframes.items():
        print(f"\n🔍 Checking {table_name}...")

        # Get all string columns except special ones
        string_cols = [
            field.name
            for field in df.schema.fields
            if isinstance(field.dataType, StringType)
            and field.name
            not in ["sku", "zip_code", "postal_code", "dimensions", "transaction_id"]
        ]

        for col_name in string_cols:
            gibberish_count = df.filter(is_gibberish_udf(col(col_name))).count()

            if gibberish_count > 0:
                df = df.withColumn(
                    col_name,
                    when(is_gibberish_udf(col(col_name)), F.lit(None)).otherwise(
                        col(col_name)
                    ),
                )
                print(f"  ✅ Fixed {gibberish_count} gibberish values in {col_name}")

        dataframes[table_name] = df

    print("\n" + "=" * 60)
    print("✅ TEXT CLEANING COMPLETED")
    print("=" * 60)

    return dataframes

In [28]:
dataframes["suppliers"].show()

+-----------+---------------+---------------+------------+-----------+-------------------+-----------------+-----------------+-----------------+--------+--------------------+
|supplier_id|supplier_rating|supplier_status|is_preferred|is_verified|contract_start_date|contract_end_date|             city|            state|zip_code|             country|
+-----------+---------------+---------------+------------+-----------+-------------------+-----------------+-----------------+-----------------+--------+--------------------+
|      10669|           3.38|           NULL|        true|       true|         2025-06-02|       2025-11-20|             燕市|        Guipúzcoa|406-2179|         Biélorussie|
|      10757|           4.04|           NULL|       false|       true|         2022-12-20|       2025-11-20|  Barre-sur-Alves|Baden-Württemberg|446-7296|              Belize|
|      10733|           0.13|           NULL|        true|       true|         2025-03-05|       2025-11-20|           合肥市|        La Coruña|   55417|               Macao|
|      10742|           2.54|           NULL|       false|      false|         2022-12-23|       2024-04-15|       Poulainnec|         Virginia|650-8904|               Italy|
|      10603|           0.95|           NULL|       false|      false|         2023-12-05|       2025-11-20|   Wolfratshausen|        Barcelona|054-6214|                德国|
|      10932|           2.02|           NULL|       false|       true|         2023-04-02|       2023-11-04|             Lugo|       Maryland  |   28447|        セントルシア|
|      10731|           2.66|           NULL|       false|       true|         2024-09-23|       2025-11-20|           Zamora|         Virginia|   38055|             Belgien|
|      10728|           4.09|           NULL|       false|       true|         2023-07-31|       2025-11-20|Guilbert-la-Forêt|           Ciudad|   81289|Turks and Caicos ...|
|      10842|           3.36|           NULL|       false|       true|         2023-09-02|       2025-10-16|    Port Evanland|          HAMBURG|   82849|             Eritrea|
|      10419|           3.04|           NULL|       false|       true|         2024-10-01|       2025-06-30|       Samueltown|         Illinois|178-3587|          Seychellen|
|      10342|           2.92|           NULL|       false|       true|         2024-03-22|       2025-11-20|     横浜市港北区|         Zaragoza|277-5939|          Martinique|
|      10464|           2.55|           NULL|       false|       true|         2025-03-29|       2025-11-20|           調布市|           Madrid|   68514|          ミャンマー|
|      10416|            3.7|           NULL|       false|      false|         2024-12-03|       2025-11-20|             彬市|          Arizona|   17236|                Niue|
|      10185|           4.44|           NULL|       false|       true|         2025-10-03|       2025-11-20|         Palencia|          Alabama|574-9728|       Guinea Bissau|
|      10309|           4.99|           NULL|       false|       true|         2024-09-16|       2025-11-20| South Garryville|       California|   75388|            法罗群岛|
|      10626|           2.01|           NULL|       false|       true|         2023-05-28|       2025-02-04|        Port Jose|       Valladolid|   95134|               Haiti|
|      10048|           4.64|           NULL|       false|       true|         2024-02-23|       2025-02-14|           国立市|          Sevilla|886-2434|Micronésie (États...|
|      10818|           4.46|           NULL|       false|      false|         2024-08-04|       2025-11-20|   長生郡一宮町  |            Soria|348-8904|          哥斯达黎加|
|      10112|           4.46|           NULL|        true|      false|         2022-12-20|       2025-01-02|          Bernard|        Castellón|   06437|Géorgie du Sud et...|
|      10494|           4.51|           NULL|       false|      false|         2025-05-02|       2025-11-20| 西多摩郡日の出町|            Ceuta|   31328|       Afghanistan  |
+-----------+---------------+---------------+------------+-----------+-------------------+-----------------+-----------------+-----------------+--------+--------------------+
only showing top 20 rows

In [29]:
from pyspark.sql.functions import col, regexp_replace, when, trim
import re

def clean_numeric_strings():
    """Clean string columns with numeric formatting issues - fully general"""
    
    print("\n" + "="*60)
    print("🔢 CLEANING NUMERIC STRING COLUMNS")
    print("="*60)
    
    # 1. Clean all ID columns - remove leading zeros
    for table_name, df in dataframes.items():
        id_columns = [col_name for col_name in df.columns if col_name.endswith("_id")]
        
        for col_name in id_columns:
            # Remove leading zeros
            df = df.withColumn(
                col_name,
                regexp_replace(col(col_name), "^0+(?=\\d)", "")
            )
        
        if id_columns:
            dataframes[table_name] = df
            print(f"✅ Cleaned {len(id_columns)} ID columns in {table_name}")
    
    # 2. Clean all integer columns that might have text values
    from pyspark.sql.types import IntegerType, LongType, ShortType
    
    for table_name, df in dataframes.items():
        integer_cols = [field.name for field in df.schema.fields 
                       if isinstance(field.dataType, (IntegerType, LongType, ShortType))]
        
        for col_name in integer_cols:
            # Skip ID columns (already handled)
            if col_name.endswith("_id"):
                continue
            
            # Check if there are non-numeric values when cast to string
            non_numeric_count = df.filter(
                ~col(col_name).cast("string").rlike("^-?[0-9]+$")
            ).count()
            
            if non_numeric_count > 0:
                # Determine default value based on column name
                default_value = 1 if "quantity" in col_name.lower() else 0
                
                df = df.withColumn(
                    col_name,
                    when(
                        col(col_name).cast("string").rlike("^-?[0-9]+$"), 
                        col(col_name)
                    ).otherwise(default_value)
                )
                print(f"  ✅ Cleaned {non_numeric_count} non-numeric values in {table_name}.{col_name}")
        
        dataframes[table_name] = df
    
    # 3. Clean all decimal/float columns
    from pyspark.sql.types import FloatType, DoubleType, DecimalType
    
    for table_name, df in dataframes.items():
        decimal_cols = [field.name for field in df.schema.fields 
                       if isinstance(field.dataType, (FloatType, DoubleType, DecimalType))]
        
        for col_name in decimal_cols:
            # Check for non-numeric text values
            non_numeric_count = df.filter(
                ~col(col_name).cast("string").rlike("^-?[0-9]+(\\.[0-9]+)?$")
            ).count()
            
            if non_numeric_count > 0:
                df = df.withColumn(
                    col_name,
                    when(
                        col(col_name).cast("string").rlike("^-?[0-9]+(\\.[0-9]+)?$"), 
                        col(col_name)
                    ).otherwise(0.0)
                )
                print(f"  ✅ Cleaned {non_numeric_count} non-numeric values in {table_name}.{col_name}")
        
        dataframes[table_name] = df
    
    # 4. Handle columns with numeric status codes (convert to text)
    for table_name, df in dataframes.items():
        status_columns = [col_name for col_name in df.columns if col_name.endswith("_status")]
        
        for status_col in status_columns:
            # Check if status column has numeric values like "0", "1"
            numeric_status_count = df.filter(
                col(status_col).rlike("^[0-9]$")
            ).count()
            
            if numeric_status_count > 0:
                # Convert common numeric codes to text
                df = df.withColumn(
                    status_col,
                    when(col(status_col) == "1", "Active")
                    .when(col(status_col) == "0", "Inactive")
                    .when(col(status_col) == "2", "Pending")
                    .otherwise(col(status_col))
                )
                print(f"  ✅ Converted {numeric_status_count} numeric status codes in {table_name}.{status_col}")
        
        dataframes[table_name] = df
    
    # 5. Clean transaction/reference IDs - remove special characters
    for table_name, df in dataframes.items():
        transaction_cols = [col_name for col_name in df.columns 
                          if "transaction" in col_name.lower() or col_name == "sku"]
        
        for col_name in transaction_cols:
            df = df.withColumn(
                col_name,
                regexp_replace(col(col_name), "[^a-zA-Z0-9-]", "")
            )
        
        if transaction_cols:
            dataframes[table_name] = df
            print(f"✅ Cleaned transaction IDs in {table_name}")
    
    # 6. Trim all numeric string columns
    for table_name, df in dataframes.items():
        string_cols = [field.name for field in df.schema.fields 
                      if isinstance(field.dataType, StringType)]
        
        for col_name in string_cols:
            # Check if column looks numeric
            sample_value = df.select(col_name).filter(col(col_name).isNotNull()).first()
            if sample_value and sample_value[0]:
                if re.match(r'^[\d\s.,-]+$', str(sample_value[0])):
                    # Trim whitespace from numeric strings
                    df = df.withColumn(col_name, trim(col(col_name)))
        
        dataframes[table_name] = df
    
    print("="*60)
    print("✅ NUMERIC STRING CLEANUP COMPLETED")
    print("="*60)

clean_numeric_strings()

============================================================
🔢 CLEANING NUMERIC STRING COLUMNS
============================================================
✅ Cleaned 2 ID columns in customer_sessions
✅ Cleaned 1 ID columns in customers
✅ Cleaned 3 ID columns in inventory
✅ Cleaned 1 ID columns in marketing_campaigns
✅ Cleaned 3 ID columns in order_items
✅ Cleaned 2 ID columns in orders
✅ Cleaned 3 ID columns in payments
✅ Cleaned 2 ID columns in products
✅ Cleaned 3 ID columns in reviews
✅ Cleaned 4 ID columns in shopping_cart
✅ Cleaned 1 ID columns in suppliers
✅ Cleaned 3 ID columns in wishlist
✅ Cleaned transaction IDs in payments
✅ Cleaned transaction IDs in products
============================================================
✅ NUMERIC STRING CLEANUP COMPLETED
============================================================

In [30]:
dataframes["suppliers"].show()

+-----------+---------------+---------------+------------+-----------+-------------------+-----------------+-----------------+-----------------+--------+--------------------+
|supplier_id|supplier_rating|supplier_status|is_preferred|is_verified|contract_start_date|contract_end_date|             city|            state|zip_code|             country|
+-----------+---------------+---------------+------------+-----------+-------------------+-----------------+-----------------+-----------------+--------+--------------------+
|      10669|           3.38|           NULL|        true|       true|         2025-06-02|       2025-11-20|             燕市|        Guipúzcoa|406-2179|         Biélorussie|
|      10757|           4.04|           NULL|       false|       true|         2022-12-20|       2025-11-20|  Barre-sur-Alves|Baden-Württemberg|446-7296|              Belize|
|      10733|           0.13|           NULL|        true|       true|         2025-03-05|       2025-11-20|           合肥市|        La Coruña|   55417|               Macao|
|      10742|           2.54|           NULL|       false|      false|         2022-12-23|       2024-04-15|       Poulainnec|         Virginia|650-8904|               Italy|
|      10603|           0.95|           NULL|       false|      false|         2023-12-05|       2025-11-20|   Wolfratshausen|        Barcelona|054-6214|                德国|
|      10932|           2.02|           NULL|       false|       true|         2023-04-02|       2023-11-04|             Lugo|       Maryland  |   28447|        セントルシア|
|      10731|           2.66|           NULL|       false|       true|         2024-09-23|       2025-11-20|           Zamora|         Virginia|   38055|             Belgien|
|      10728|           4.09|           NULL|       false|       true|         2023-07-31|       2025-11-20|Guilbert-la-Forêt|           Ciudad|   81289|Turks and Caicos ...|
|      10842|           3.36|           NULL|       false|       true|         2023-09-02|       2025-10-16|    Port Evanland|          HAMBURG|   82849|             Eritrea|
|      10419|           3.04|           NULL|       false|       true|         2024-10-01|       2025-06-30|       Samueltown|         Illinois|178-3587|          Seychellen|
|      10342|           2.92|           NULL|       false|       true|         2024-03-22|       2025-11-20|     横浜市港北区|         Zaragoza|277-5939|          Martinique|
|      10464|           2.55|           NULL|       false|       true|         2025-03-29|       2025-11-20|           調布市|           Madrid|   68514|          ミャンマー|
|      10416|            3.7|           NULL|       false|      false|         2024-12-03|       2025-11-20|             彬市|          Arizona|   17236|                Niue|
|      10185|           4.44|           NULL|       false|       true|         2025-10-03|       2025-11-20|         Palencia|          Alabama|574-9728|       Guinea Bissau|
|      10309|           4.99|           NULL|       false|       true|         2024-09-16|       2025-11-20| South Garryville|       California|   75388|            法罗群岛|
|      10626|           2.01|           NULL|       false|       true|         2023-05-28|       2025-02-04|        Port Jose|       Valladolid|   95134|               Haiti|
|      10048|           4.64|           NULL|       false|       true|         2024-02-23|       2025-02-14|           国立市|          Sevilla|886-2434|Micronésie (États...|
|      10818|           4.46|           NULL|       false|      false|         2024-08-04|       2025-11-20|   長生郡一宮町  |            Soria|348-8904|          哥斯达黎加|
|      10112|           4.46|           NULL|        true|      false|         2022-12-20|       2025-01-02|          Bernard|        Castellón|   06437|Géorgie du Sud et...|
|      10494|           4.51|           NULL|       false|      false|         2025-05-02|       2025-11-20| 西多摩郡日の出町|            Ceuta|   31328|       Afghanistan  |
+-----------+---------------+---------------+------------+-----------+-------------------+-----------------+-----------------+-----------------+--------+--------------------+
only showing top 20 rows

In [31]:
def clean_whitespace_issues():
    """Remove excessive whitespace and formatting issues - fully general"""

    print("\n" + "=" * 60)
    print("🧹 CLEANING WHITESPACE AND FORMATTING")
    print("=" * 60)

    from pyspark.sql.types import StringType

    for table_name, df in dataframes.items():
        # Get all string columns
        string_cols = [
            field.name
            for field in df.schema.fields
            if isinstance(field.dataType, StringType)
        ]

        if not string_cols:
            continue

        for col_name in string_cols:
            # 1. Trim leading/trailing whitespace
            df = df.withColumn(col_name, trim(col(col_name)))

            # 2. Replace multiple spaces with single space
            df = df.withColumn(col_name, regexp_replace(col(col_name), "\\s+", " "))

            # 3. Remove trailing special characters
            df = df.withColumn(col_name, regexp_replace(col(col_name), "[*]+$", ""))

            # 4. Remove leading special characters
            df = df.withColumn(col_name, regexp_replace(col(col_name), "^[*]+", ""))

            # 5. Clean up excessive quotes
            df = df.withColumn(col_name, regexp_replace(col(col_name), '"{2,}', '"'))

            # 6. Remove trailing quotes
            df = df.withColumn(col_name, regexp_replace(col(col_name), '"+$', ""))

        dataframes[table_name] = df
        print(f"✅ Cleaned {len(string_cols)} string columns in {table_name}")

    print("=" * 60)
    print("✅ WHITESPACE CLEANUP COMPLETED")
    print("=" * 60)


clean_whitespace_issues()

============================================================
🧹 CLEANING WHITESPACE AND FORMATTING
============================================================
✅ Cleaned 4 string columns in customer_sessions
✅ Cleaned 7 string columns in customers
✅ Cleaned 3 string columns in inventory
✅ Cleaned 5 string columns in marketing_campaigns
✅ Cleaned 3 string columns in order_items
✅ Cleaned 4 string columns in orders
✅ Cleaned 6 string columns in payments
✅ Cleaned 11 string columns in products
✅ Cleaned 5 string columns in reviews
✅ Cleaned 5 string columns in shopping_cart
✅ Cleaned 6 string columns in suppliers
✅ Cleaned 3 string columns in wishlist
============================================================
✅ WHITESPACE CLEANUP COMPLETED
============================================================

In [32]:
dataframes["suppliers"].show()

+-----------+---------------+---------------+------------+-----------+-------------------+-----------------+-----------------+-----------------+--------+--------------------+
|supplier_id|supplier_rating|supplier_status|is_preferred|is_verified|contract_start_date|contract_end_date|             city|            state|zip_code|             country|
+-----------+---------------+---------------+------------+-----------+-------------------+-----------------+-----------------+-----------------+--------+--------------------+
|      10669|           3.38|           NULL|        true|       true|         2025-06-02|       2025-11-20|             燕市|        Guipúzcoa|406-2179|         Biélorussie|
|      10757|           4.04|           NULL|       false|       true|         2022-12-20|       2025-11-20|  Barre-sur-Alves|Baden-Württemberg|446-7296|              Belize|
|      10733|           0.13|           NULL|        true|       true|         2025-03-05|       2025-11-20|           合肥市|        La Coruña|   55417|               Macao|
|      10742|           2.54|           NULL|       false|      false|         2022-12-23|       2024-04-15|       Poulainnec|         Virginia|650-8904|               Italy|
|      10603|           0.95|           NULL|       false|      false|         2023-12-05|       2025-11-20|   Wolfratshausen|        Barcelona|054-6214|                德国|
|      10932|           2.02|           NULL|       false|       true|         2023-04-02|       2023-11-04|             Lugo|         Maryland|   28447|        セントルシア|
|      10731|           2.66|           NULL|       false|       true|         2024-09-23|       2025-11-20|           Zamora|         Virginia|   38055|             Belgien|
|      10728|           4.09|           NULL|       false|       true|         2023-07-31|       2025-11-20|Guilbert-la-Forêt|           Ciudad|   81289|Turks and Caicos ...|
|      10842|           3.36|           NULL|       false|       true|         2023-09-02|       2025-10-16|    Port Evanland|          HAMBURG|   82849|             Eritrea|
|      10419|           3.04|           NULL|       false|       true|         2024-10-01|       2025-06-30|       Samueltown|         Illinois|178-3587|          Seychellen|
|      10342|           2.92|           NULL|       false|       true|         2024-03-22|       2025-11-20|     横浜市港北区|         Zaragoza|277-5939|          Martinique|
|      10464|           2.55|           NULL|       false|       true|         2025-03-29|       2025-11-20|           調布市|           Madrid|   68514|          ミャンマー|
|      10416|            3.7|           NULL|       false|      false|         2024-12-03|       2025-11-20|             彬市|          Arizona|   17236|                Niue|
|      10185|           4.44|           NULL|       false|       true|         2025-10-03|       2025-11-20|         Palencia|          Alabama|574-9728|       Guinea Bissau|
|      10309|           4.99|           NULL|       false|       true|         2024-09-16|       2025-11-20| South Garryville|       California|   75388|            法罗群岛|
|      10626|           2.01|           NULL|       false|       true|         2023-05-28|       2025-02-04|        Port Jose|       Valladolid|   95134|               Haiti|
|      10048|           4.64|           NULL|       false|       true|         2024-02-23|       2025-02-14|           国立市|          Sevilla|886-2434|Micronésie (États...|
|      10818|           4.46|           NULL|       false|      false|         2024-08-04|       2025-11-20|     長生郡一宮町|            Soria|348-8904|          哥斯达黎加|
|      10112|           4.46|           NULL|        true|      false|         2022-12-20|       2025-01-02|          Bernard|        Castellón|   06437|Géorgie du Sud et...|
|      10494|           4.51|           NULL|       false|      false|         2025-05-02|       2025-11-20| 西多摩郡日の出町|            Ceuta|   31328|         Afghanistan|
+-----------+---------------+---------------+------------+-----------+-------------------+-----------------+-----------------+-----------------+--------+--------------------+
only showing top 20 rows

In [33]:
def clean_mixed_scripts():
    """Remove non-ASCII characters from all text columns - fully general"""

    print("\n" + "=" * 60)
    print("🌐 CLEANING MIXED SCRIPTS AND NON-ASCII CHARACTERS")
    print("=" * 60)

    from pyspark.sql.types import StringType

    for table_name, df in dataframes.items():
        # Get all string columns
        string_cols = [
            field.name
            for field in df.schema.fields
            if isinstance(field.dataType, StringType)
        ]

        # Skip ID columns and codes
        text_cols = [
            col_name
            for col_name in string_cols
            if not col_name.endswith("_id") and "code" not in col_name.lower()
        ]

        if not text_cols:
            continue

        print(f"\n  🔧 Processing {table_name}...")

        for col_name in text_cols:
            # Count non-ASCII before cleaning
            non_ascii_count = df.filter(col(col_name).rlike(".*[^\x00-\x7f].*")).count()

            if non_ascii_count > 0:
                # Determine replacement value based on column type
                replacement_value = "Unknown"
                if "name" in col_name.lower():
                    replacement_value = "Unknown"
                elif "title" in col_name.lower():
                    replacement_value = "No Title"
                elif "desc" in col_name.lower():
                    replacement_value = "No description"
                elif "city" in col_name.lower():
                    replacement_value = "Unknown"
                elif "state" in col_name.lower() or "province" in col_name.lower():
                    replacement_value = "Unknown"
                elif "country" in col_name.lower():
                    replacement_value = "Unknown"

                # Replace non-ASCII characters
                df = df.withColumn(
                    col_name,
                    when(
                        col(col_name).rlike(".*[^\x00-\x7f].*"), replacement_value
                    ).otherwise(col(col_name)),
                )

                print(
                    f"    ✅ Cleaned {non_ascii_count} rows with non-ASCII in {col_name}"
                )

        dataframes[table_name] = df

    print("\n" + "=" * 60)
    print("✅ MIXED SCRIPTS CLEANUP COMPLETED")
    print("=" * 60)


clean_mixed_scripts()

============================================================
🌐 CLEANING MIXED SCRIPTS AND NON-ASCII CHARACTERS
============================================================

  🔧 Processing customer_sessions...

  🔧 Processing customers...
    ✅ Cleaned 80 rows with non-ASCII in city
    ✅ Cleaned 77 rows with non-ASCII in state_province
    ✅ Cleaned 93 rows with non-ASCII in country

  🔧 Processing marketing_campaigns...

  🔧 Processing orders...

  🔧 Processing payments...

  🔧 Processing products...
    ✅ Cleaned 24 rows with non-ASCII in product_name
    ✅ Cleaned 37 rows with non-ASCII in category
    ✅ Cleaned 10 rows with non-ASCII in sub_category
    ✅ Cleaned 2 rows with non-ASCII in brand

  🔧 Processing reviews...
    ✅ Cleaned 16 rows with non-ASCII in review_title
    ✅ Cleaned 10 rows with non-ASCII in review_desc

  🔧 Processing shopping_cart...

  🔧 Processing suppliers...
    ✅ Cleaned 329 rows with non-ASCII in city
    ✅ Cleaned 110 rows with non-ASCII in state
    ✅ Cleaned 351 rows with non-ASCII in country

============================================================
✅ MIXED SCRIPTS CLEANUP COMPLETED
============================================================

In [34]:
dataframes["suppliers"].show()

+-----------+---------------+---------------+------------+-----------+-------------------+-----------------+----------------+----------+--------+--------------------+
|supplier_id|supplier_rating|supplier_status|is_preferred|is_verified|contract_start_date|contract_end_date|            city|     state|zip_code|             country|
+-----------+---------------+---------------+------------+-----------+-------------------+-----------------+----------------+----------+--------+--------------------+
|      10669|           3.38|           NULL|        true|       true|         2025-06-02|       2025-11-20|         Unknown|   Unknown|406-2179|             Unknown|
|      10757|           4.04|           NULL|       false|       true|         2022-12-20|       2025-11-20| Barre-sur-Alves|   Unknown|446-7296|              Belize|
|      10733|           0.13|           NULL|        true|       true|         2025-03-05|       2025-11-20|         Unknown|   Unknown|   55417|               Macao|
|      10742|           2.54|           NULL|       false|      false|         2022-12-23|       2024-04-15|      Poulainnec|  Virginia|650-8904|               Italy|
|      10603|           0.95|           NULL|       false|      false|         2023-12-05|       2025-11-20|  Wolfratshausen| Barcelona|054-6214|             Unknown|
|      10932|           2.02|           NULL|       false|       true|         2023-04-02|       2023-11-04|            Lugo|  Maryland|   28447|             Unknown|
|      10731|           2.66|           NULL|       false|       true|         2024-09-23|       2025-11-20|          Zamora|  Virginia|   38055|             Belgien|
|      10728|           4.09|           NULL|       false|       true|         2023-07-31|       2025-11-20|         Unknown|    Ciudad|   81289|Turks and Caicos ...|
|      10842|           3.36|           NULL|       false|       true|         2023-09-02|       2025-10-16|   Port Evanland|   HAMBURG|   82849|             Eritrea|
|      10419|           3.04|           NULL|       false|       true|         2024-10-01|       2025-06-30|      Samueltown|  Illinois|178-3587|          Seychellen|
|      10342|           2.92|           NULL|       false|       true|         2024-03-22|       2025-11-20|         Unknown|  Zaragoza|277-5939|          Martinique|
|      10464|           2.55|           NULL|       false|       true|         2025-03-29|       2025-11-20|         Unknown|    Madrid|   68514|             Unknown|
|      10416|            3.7|           NULL|       false|      false|         2024-12-03|       2025-11-20|         Unknown|   Arizona|   17236|                Niue|
|      10185|           4.44|           NULL|       false|       true|         2025-10-03|       2025-11-20|        Palencia|   Alabama|574-9728|       Guinea Bissau|
|      10309|           4.99|           NULL|       false|       true|         2024-09-16|       2025-11-20|South Garryville|California|   75388|             Unknown|
|      10626|           2.01|           NULL|       false|       true|         2023-05-28|       2025-02-04|       Port Jose|Valladolid|   95134|               Haiti|
|      10048|           4.64|           NULL|       false|       true|         2024-02-23|       2025-02-14|         Unknown|   Sevilla|886-2434|             Unknown|
|      10818|           4.46|           NULL|       false|      false|         2024-08-04|       2025-11-20|         Unknown|     Soria|348-8904|             Unknown|
|      10112|           4.46|           NULL|        true|      false|         2022-12-20|       2025-01-02|         Bernard|   Unknown|   06437|             Unknown|
|      10494|           4.51|           NULL|       false|      false|         2025-05-02|       2025-11-20|         Unknown|     Ceuta|   31328|         Afghanistan|
+-----------+---------------+---------------+------------+-----------+-------------------+-----------------+----------------+----------+--------+--------------------+
only showing top 20 rows

In [35]:
def validate_all_cleaned_data():
    """Final validation of all cleaned data"""

    print("\n" + "=" * 60)
    print("🔍 FINAL DATA VALIDATION")
    print("=" * 60)

    issues_found = False

    # 1. Check for gibberish patterns in all text columns
    for table_name, df in dataframes.items():
        from pyspark.sql.types import StringType

        string_cols = [
            field.name
            for field in df.schema.fields
            if isinstance(field.dataType, StringType)
        ]

        for col_name in string_cols:
            # Check for excessive special characters
            special_char_count = df.filter(
                col(col_name).rlike(".*[*@#$%^&]{2,}.*")
            ).count()

            if special_char_count > 0:
                print(
                    f"⚠️ {table_name}.{col_name}: {special_char_count} rows with multiple special characters"
                )
                issues_found = True

            # Check for excessive whitespace
            whitespace_count = df.filter(col(col_name).rlike(".*\\s{3,}.*")).count()

            if whitespace_count > 0:
                print(
                    f"⚠️ {table_name}.{col_name}: {whitespace_count} rows with excessive whitespace"
                )
                issues_found = True

            # Check for non-ASCII in important columns
            if col_name in [
                "city",
                "country",
                "state",
                "state_province",
                "product_name",
                "brand",
            ]:
                non_ascii_count = df.filter(
                    col(col_name).rlike(".*[^\x00-\x7f].*")
                ).count()

                if non_ascii_count > 0:
                    print(
                        f"⚠️ {table_name}.{col_name}: {non_ascii_count} rows with non-ASCII characters"
                    )
                    issues_found = True

    if not issues_found:
        print("✅ All data passed validation checks!")
    else:
        print("\n⚠️ Some issues found - review the warnings above")

    print("=" * 60)


# Run validation
validate_all_cleaned_data()

============================================================
🔍 FINAL DATA VALIDATION
============================================================
⚠️ marketing_campaigns.target_audience: 5 rows with multiple special characters

⚠️ Some issues found - review the warnings above
============================================================

In [36]:
dataframes["suppliers"].show()

+-----------+---------------+---------------+------------+-----------+-------------------+-----------------+----------------+----------+--------+--------------------+
|supplier_id|supplier_rating|supplier_status|is_preferred|is_verified|contract_start_date|contract_end_date|            city|     state|zip_code|             country|
+-----------+---------------+---------------+------------+-----------+-------------------+-----------------+----------------+----------+--------+--------------------+
|      10669|           3.38|           NULL|        true|       true|         2025-06-02|       2025-11-20|         Unknown|   Unknown|406-2179|             Unknown|
|      10757|           4.04|           NULL|       false|       true|         2022-12-20|       2025-11-20| Barre-sur-Alves|   Unknown|446-7296|              Belize|
|      10733|           0.13|           NULL|        true|       true|         2025-03-05|       2025-11-20|         Unknown|   Unknown|   55417|               Macao|
|      10742|           2.54|           NULL|       false|      false|         2022-12-23|       2024-04-15|      Poulainnec|  Virginia|650-8904|               Italy|
|      10603|           0.95|           NULL|       false|      false|         2023-12-05|       2025-11-20|  Wolfratshausen| Barcelona|054-6214|             Unknown|
|      10932|           2.02|           NULL|       false|       true|         2023-04-02|       2023-11-04|            Lugo|  Maryland|   28447|             Unknown|
|      10731|           2.66|           NULL|       false|       true|         2024-09-23|       2025-11-20|          Zamora|  Virginia|   38055|             Belgien|
|      10728|           4.09|           NULL|       false|       true|         2023-07-31|       2025-11-20|         Unknown|    Ciudad|   81289|Turks and Caicos ...|
|      10842|           3.36|           NULL|       false|       true|         2023-09-02|       2025-10-16|   Port Evanland|   HAMBURG|   82849|             Eritrea|
|      10419|           3.04|           NULL|       false|       true|         2024-10-01|       2025-06-30|      Samueltown|  Illinois|178-3587|          Seychellen|
|      10342|           2.92|           NULL|       false|       true|         2024-03-22|       2025-11-20|         Unknown|  Zaragoza|277-5939|          Martinique|
|      10464|           2.55|           NULL|       false|       true|         2025-03-29|       2025-11-20|         Unknown|    Madrid|   68514|             Unknown|
|      10416|            3.7|           NULL|       false|      false|         2024-12-03|       2025-11-20|         Unknown|   Arizona|   17236|                Niue|
|      10185|           4.44|           NULL|       false|       true|         2025-10-03|       2025-11-20|        Palencia|   Alabama|574-9728|       Guinea Bissau|
|      10309|           4.99|           NULL|       false|       true|         2024-09-16|       2025-11-20|South Garryville|California|   75388|             Unknown|
|      10626|           2.01|           NULL|       false|       true|         2023-05-28|       2025-02-04|       Port Jose|Valladolid|   95134|               Haiti|
|      10048|           4.64|           NULL|       false|       true|         2024-02-23|       2025-02-14|         Unknown|   Sevilla|886-2434|             Unknown|
|      10818|           4.46|           NULL|       false|      false|         2024-08-04|       2025-11-20|         Unknown|     Soria|348-8904|             Unknown|
|      10112|           4.46|           NULL|        true|      false|         2022-12-20|       2025-01-02|         Bernard|   Unknown|   06437|             Unknown|
|      10494|           4.51|           NULL|       false|      false|         2025-05-02|       2025-11-20|         Unknown|     Ceuta|   31328|         Afghanistan|
+-----------+---------------+---------------+------------+-----------+-------------------+-----------------+----------------+----------+--------+--------------------+
only showing top 20 rows

In [37]:
dataframes["products"].show(1000)

+----------+--------------------+-------------+--------------------+--------------------+------------+-----------+----------+----------+-----------+------+----------+-----------+-----------------+---------------+
|product_id|        product_name|          sku|            category|        sub_category|       brand|supplier_id|cost_price|sell_price|launch_date|weight|dimensions|      color|             size|       material|
+----------+--------------------+-------------+--------------------+--------------------+------------+-----------+----------+----------+-----------+------+----------+-----------+-----------------+---------------+
|      1388|Samsung Casual Shoes|SA-SP0388-NAV|      Children Books|            Standard|     Saucony|      10646|    288.73|     428.1| 2022-12-01| 0.596|  35x19x10|        Red|               43|          Nylon|
|      1112|Sony Running Shoe...|SO-HM0112-TUR|            Cookware|            Featured|       Canon|      10727|    421.55|    773.67| 2022-06-09| 0.307|  25x16x12|      Black|               10|      Synthetic|
|      1403|        Amazon Mouse|AM-EL0403-MIN|      Digital Movies|              Budget|     Samsung|      10021|    414.21|    552.42| 2023-06-29| 3.038|  70x58x23|      Black|           Medium|Mixed Materials|
|      1534|   nike backpack pro|NI-HM0534-YEL|       Boys Clothing|         Best Seller|      Amazon|      10437|     83.74|    193.63| 2024-11-10| 5.885|  46x73x63|       Gold|         One Size|         Fabric|
|      1741|    ASICS Case Ultra|AS-CL0741-BRO|             E-Books|   Digital Magazines|        Bose|      10736|    209.74|     251.8| 2025-01-04| 1.947|  36x10x37|     Purple|         One Size|           Wood|
|      1679|BROOKS BACKPACK B...|BR-AC0679-NAV|         Accessories|        Memory Cards|     Samsung|      10983|    365.14|     635.4| 2022-05-03|  0.13|  84x92x32|     Yellow|            Large|           Wood|
|      1661|Bose Basketball S...|BO-CL0661-BRO|             Dresses|           Clearance|      Brooks|      10078|     60.56|    143.21| 2020-12-09| 0.501|  25x16x13|        Red|               41|          Suede|
|      1681|Apple Basketball ...|AP-SP0681-BRO|   Sports & Outdoors|       Winter Sports|   Microsoft|      10956|     27.88|     60.49| 2024-08-03|  1.15|  27x19x14|        Red|              6.5|          Nylon|
|      1519|Brooks Mouse Prof...|BR-SP0519-PUR|         ElEcTrOnIcS|           New/Items|      Amazon|      10806|    230.68|    354.16| 2022-10-31| 2.825|   9x22x23|      Coral|            Large|Mixed Materials|
|      1931|JBL Training Shoe...|JB-HM0931-SIL|              Plants|     Limited Edition|          hp|      10882|    392.27|    916.88| 2022-03-27| 1.158|  26x19x13|      White|               41|      Synthetic|
|      1136|Puma Backpack Pro...|PU-HM0136-WHI|       Books & Media|             E-Books|Under Armour|      10226|    323.43|    431.89| 2024-04-23| 5.012| 47x100x14|      Green|            Large|         Fabric|
|      1229|Adidas Headphones...|AD-HM0229-BLU|   Language Learning|        Professional|      Brooks|      10294|    219.26|    504.77| 2022-04-27| 0.152|  16x8x1.4|       Gold|         Standard|   Carbon Fiber|
|      1325|Saucony Training ...|          NaN|               Music|        Sheet Music!|         NaN|      10585|    318.75|    464.74| 2022-12-18| 1.203|      NULL|       Blue|              NaN|         Rubber|
|      1854|      Lenovo Charger|LE-EL0854-TUR|              Comics|                 NaN|      Amazon|      10746|    180.37|    240.27| 2024-01-12| 7.045|   81x12x5|      Green|      Extra Large|      Composite|
|      1453|   Panasonic Speaker|PA-CL0453-ORA|              HIKING|              Retail|      Amazon|      10470|    360.44|    801.15| 2025-03-14| 2.856|  89x43x55|       Blue|      Extra Large|          Metal|
|      1073|JBL Casual Shoes ...|jb-cl0073-min|             Unknown|             Unknown| New Balance|      10310|    311.07|    411.07| 2021-01-15| 1.033|  34x19x11|      White|               45|         Rubber|
|      1678|Canon Smartphone Air|CA-HM0678-COR|            T-Shirts|          Industrial|   Panasonic|      10097|    236.24|    437.25| 2021-01-19| 0.181|  16x6x0.5|     Silver|               17|       Aluminum|
|      1238|Brooks Headphones...|BR-EL0238-PIN|             Surfing|         New Arrival|   Panasonic|      10604|    212.59|     426.7| 2024-02-21|  0.21|  15x9x0.6|     Silver|         Standard|   Carbon Fiber|
|      1614|   Mizuno Tablet Air|MI-HM0614-SIL|             Storage|          Industrial| New Balance|      10370|    469.43|    1068.6| 2022-03-05| 2.329|  37x12x15| Space Gray|               13|        Plastic|
|      1018|   Canon Cable Elite|CA-AC0018-BEI|               Boots|           Clearance|         JBL|      10484|    398.93|    976.49| 2021-09-12| 7.386|  89x15x41|      Coral|         One Size|         Fabric|
|      1423|      HP Mouse Elite|HP-AC0423-BRO|Super Ultra Mega ...|         Best Seller|   Panasonic|      10007|    470.41|   1042.83| 2022-03-30| 5.125|  39x89x38|       Pink|      Extra Large|      Synthetic|
|      1896|Panasonic Jacket ...|PA-AC0896-GRA|             Laptops|         New Arrival|       Apple|      10979|    464.03|   1087.28| 2025-04-16| 1.779|  57x74x61|      Coral|               XL|          Linen|
|      1941|Reebok Keyboard Home|RE-SP0941-BRO|             Spoorts|        Professional|       Nikon|      10134|    342.92|    584.34| 2021-04-16| 2.415|  75x13x52|       Pink|            Small|           Wood|
|      1223|Under Armour Cabl...|UN-EL0223-COR|             E-Books|   Digital Magazines|      Adidas|      10898|    497.96|    933.33| 2023-06-18| 4.017|  99x10x76|     Yellow|         One Size|      Synthetic|
|      1163|          Dell Mouse|DE-AC0163-RED|             Spoorts|        Professional|          HP|      10123|    465.81|    796.89| 2022-08-10| 4.625|  29x96x48|        Red|      Extra Large|Mixed Materials|
|      1268|Lenovo Speaker Sport|LE-HM0268-PUR|              HIKING|              Retail|        Bose|      10607|    336.27|    635.29| 2022-08-20|  5.53|  63x43x77|       gray|            Large|      Composite|
|      1312|       Reebok Tablet|RE-AC0312-TUR|          Sunglasses|            Consumer|Under Armour|      10961|    326.63|    582.32| 2021-11-27| 2.463|  20x28x28|     Silver|               32|          Glass|
|      1897|Samsung Speaker E...|SA-AC0897-PIN|            Dressers|          Industrial|      Amazon|      10884|    143.22|    210.87| 2021-07-19| 0.631|  97x58x99|     Yellow|         One Size|      Composite|
|      1134| Reebok Casual Shoes|RE-EL0134-BLU|         Accessories|         Power Banks|Under Armour|      10224|     19.76|     35.99| 2022-06-16| 0.631|  34x16x11|       Blue|               46|      Synthetic|
|      1448| Sony Case Essential|SO-SP0448-WHI|            Consoles|            Featured|        Sony|      10412|    338.34|    609.57| 2024-05-29| 7.654|  71x63x11|       Blue|            Small|         Fabric|
|      1263|      Mizuno Speaker|MI-HM0263-YEL|             Bedroom|             Bedding|     Samsung|      10463|    252.69|    330.52| 2022-03-05| 7.555|  93x98x57|       Gold|           Medium|         Fabric|
|      1013|     Samsung Charger|SA-SP0013-GOL|         Ice Skating|             Regular|       ASICS|      10649|    427.93|    794.68| 2022-03-27| 2.586|  11x16x86|      Brown|            Large|Mixed Materials|
|      1785|         Nike Camera|NI-CL0785-RED|Super Ultra Mega ...|         Best Seller|     Saucony|      10676|     93.75|    155.47| 2023-01-20| 9.113|  20x71x78|  Turquoise|            Small|      Synthetic|
|      1326|JBL Running Shoes...|JB-EL0326-RED|          Volleyball|            Standard|        Dell|      10985|      19.3|      42.9| 2023-04-01| 0.519|  34x18x10|   Navy/Red|               41|         Rubber|
|      1345|New Balance Smart...|NE-CL0345-BEI|                 NaN|                 NaN|          HP|      10313|    218.26|     368.9| 2022-12-11| 0.131|  18x8x0.8|      Black|             15.6|       Aluminum|
|      1915|HP Screen Protect...|HP-AC0915-WHI|         Supplements|             Regular|Under Armour|      10902|    237.05|    503.47| 2022-03-22| 3.508|  25x60x14|      Black|           Medium|           Wood|
|      1086|Samsung Camera Cl...|SA-SP0086-GRE|             Bedroom|            Dressers|      Lenovo|      10457|    379.34|    925.68| 2021-11-26| 3.089|   97x78x6|       Navy|            Large|      Synthetic|
|      1091|ASICS Monitor Office|AS-EL0091-GRE|           TV Series|             Premium|     Samsung|      10608|     26.45|     52.29| 2022-10-01| 3.665|  13x25x28|      Black|               27|   CARBON FIBER|
|      1851|Nikon Charger Office|NI-SP0851-BRO|            Climbing|           Clearance|         JBL|      10779|    245.13|    523.92| 2023-12-16| 0.293|  20x72x65|     Silver|      Extra Large|      Synthetic|
|      1771|Puma Running Shoe...|PU-SP0771-GRA|              Cables|            Consumer|   Microsoft|      10979|    241.39|    325.93| 2023-11-07| 1.287|  26x19x15|       Gray|                8|           Mesh|
|      1241|Brooks Jacket Ess...|BR-EL0241-COR|          Basketball|            Standard|      Google|      10063|    190.92|    365.34| 2022-02-17| 0.201|  95x76x50|        Red|               XL|         Cotton|
|      1754|   Lenovo Smartphone|LE-CL0754-WHI|            Swimming|           Clearance|      Lenovo|      10332|     362.4|    671.87| 2024-09-10| 0.129|  16x7x0.8|     Silver|               21|       Aluminum|
|      1277|     Dell Headphones|DE-HM0277-GRE|         POWER BANKS|            Consumer|Under Armour|      10706|    417.39|    786.09| 2023-03-13| 0.206|  16x6x0.9|      Black|               14|        Plastic|
|      1606|Nike Speaker Classic|NI-CL0606-BLU|      Digital Movies|              Budget|      Mizuno|      10415|     158.4|    233.17| 2025-07-25| 6.419|    29x8x7|      Black|            Large|Mixed Materials|
|      1603|  Saucony Smartphone|SA-EL0603-ORA|          Mirrorless|              Retail|      Reebok|      10167|     192.9|    457.63| 2024-02-12| 0.245|  16x7x0.8|      White|               27|        Plastic|
|      1177|   Nike Speaker Home|NI-HM0177-YEL|         Smartphones|             Regular|      Adidas|      10564|     137.7|    325.27| 2021-03-25| 5.443|  88x24x51|     Yellow|           Medium|           Wood|
|      1441|       Amazon Laptop|AM-SP0441-BLU|            Utensils|              Retail|Under Armour|      10360|    485.08|    949.84| 2025-07-24| 2.323|   33x27x1|      Black|               13|          Steel|
|      1793|Nike Casual Shoes...|NI-CL0793-BEI|         POWER BANKS|            Consumer|        Dell|      10394|      76.0|    178.35| 2025-06-08| 0.353|  29x16x12|      White|               13|          Suede|
|      1151|       Amazon Jacket|am-sp0151-bei|                 NaN|                 NaN|      Adidas|      10887|    320.85|    627.07| 2022-01-01| 1.279|  65x29x69|        Red|             XXXL|          Linen|
|      1593| Puma Smartwatch Pro|PU-EL0593-WHI|               Suits|              Budget|        Bose|      10377|     79.46|    181.28| 2024-10-09| 2.188|  11x50x18|      White|               27|        plastic|
|      1699|         Nike Camera|NI-EL0699-PUR|               Pants|         industrial@|     Saucony|      10235|    334.53|    637.27| 2023-07-26| 9.753|  81x96x93|       Navy|         One Size|         Fabric|
|      1253|Adidas Screen Pro...|AD-EL0253-ORA|             Surfing|         New Arrival|       Apple|      10861|    235.22|    516.65| 2024-09-14| 6.513|  27x75x10|     Yellow|           Medium|         Fabric|
|      1849|Microsoft Charger...|MI-HM0849-RED|             Laptops|              Retail|      Reebok|      10898|    274.42|    527.49| 2022-11-19| 8.762|  10x47x66|       Pink|         One Size|           Wood|
|      1042| Brooks Casual Shoes|BR-AC0042-NAV|              Hockey|              Budget|       ASICS|      10796|    374.89|    473.77| 2023-02-25| 0.988|  32x17x11|       Gray|             11.5|      Synthetic|
|      1126|Nikon Casual Shoe...|NI-SP0126-BLU|       Camera Lenses|          Industrial|        NIKE|      10377|    108.33|     209.4| 2024-06-22| 0.595|  34x16x13|       Blue|               42|           Mesh|
|      1114|HP Running Shoes ...|HP-SP0114-MIN|               Suits|           Wholesale|      Reebok|      10172|    168.59|    356.61| 2021-07-08| 0.576|  29x19x15|   Navy/Red|              7.5|      Synthetic|
|      1622|Lenovo Training S...|LE-CL0622-PIN|              Hiking|             Premium|Under Armour|      10869|    199.48|    294.71| 2023-11-19|  0.33|  26x18x15|        Red|               38|      Synthetic|
|      1925|   Adidas Headphones|          NaN|            T-Shirts|          Industrial|         NaN|      10202|     46.87|    464.74| 2023-02-25| 0.192|      NULL|       Gold|              NaN|          Glass|
|      1631| Adidas Jacket Sport|AD-AC0631-BLU|        Snowboarding|            Consumer|          LG|      10840|    261.16|    475.37| 2025-10-04| 1.875|  66x13x50|     Purple|                L|          Linen|
|      1463|Sony Smartphone A...|SO-AC0463-BEI|          Sunglasses|            Consumer|        Bose|      10856|     26.54|     41.44| 2024-09-30| 0.177|  18x6x0.6|       gold|               27|   Carbon Fiber|
|      1889|Canon Headphones ...|CA-CL0889-BEI| Digital Non-Fiction|            Consumer|         JBL|      10903|     51.73|     68.29| 2021-12-19| 0.221|  17x8x1.2|      White|          Compact|        Plastic|
|      1841| Adidas T-Shirt Plus|AD-CL0841-COR|                 NaN|                 NaN|      Brooks|      10001|    468.31|    898.73| 2021-03-27| 0.407|  58x83x26|      White|               XS|        Spandex|
|      1005|Panasonic Case Pr...|PA-SP0005-MIN|              Hockey|              Budget|     Samsung|      10698|    443.55|    965.23| 2024-06-18| 7.709|  48x19x42|      Brown|           Medium|          Metal|
|      1231|Amazon T-Shirt Cl...|AM-AC0231-WHI|Super Ultra Mega ...|         Best Seller|        Bose|      10159|    317.33|     748.8| 2021-09-02|  1.12|  47x64x57|      White|              3XL|          Linen|
|      1366|Samsung Screen Pr...|SA-SP0366-GRA|            Baseball|            Standard|     Saucony|      10407|    352.51|    425.95| 2021-05-04| 1.767|   67x5x17|       Blue|      Extra Large|           Wood|
|      1976|  Under Armour Mouse|UN-AC0976-YEL|            Football|            Consumer|     Samsung|      10830|     215.8|    298.11| 2025-11-03| 5.463|    8x62x6|       Pink|      Extra Large|      Synthetic|
|      1974|    Canon Smartphone|CA-AC0974-ORA|   Screen Protectors|            Featured|       ASICS|      10329|    136.32|    212.03| 2024-01-04| 0.226|  13x6x0.8|       Gold|         Standard|          Glass|
|      1654|JBL Basketball Sh...|JB-HM0654-NAV|         Electronics|              Gaming|        Bose|      10560|    126.58|    222.61| 2022-09-16| 0.997|  31x16x14|       Blue|             11.5|      SYNTHETIC|
|      1836|       Lenovo Camera|LE-EL0836-SIL|      Mobile Devices|            Chargers|       Apple|      10381|     377.1|     703.2| 2023-05-23| 9.126|  19x96x52|       Mint|           Medium|          Metal|
|      1157|New Balance Baske...|NE-SP0157-BEI|      Digital Movies|             Regular|        Dell|      10895|     29.33|     46.28| 2025-08-05| 1.242|  30x18x15|      Black|              7.5|          Nylon|
|      1124|   Apple Mouse Elite|AP-EL0124-TUR|          Patio Sets|           Clearance|        Dell|      10261|    388.93|    918.87| 2024-03-12| 6.774|  19x34x99|      Coral|            Small|Mixed Materials|
|      1859|Nikon Casual Shoe...|NI-CL0859-PUR|         Accessories|        Memory Cards|        Bose|      10831|    404.83|    755.18| 2023-03-31| 0.332|  34x15x12|        Red|               45|           Mesh|
|      1127|New Balance Lapto...|NE-AC0127-PIN|  Outdoor Recreation|             Cycling|         JBL|      10243|    215.71|    528.39| 2022-03-11| 3.437|   32x24x1|      Black|               17|          Steel|
|      1371|   Bose Tablet Basic|BO-HM0371-BEI|            Utensils|              Retail|     Samsung|      10493|    334.69|    506.44| 2024-08-15| 1.452|  15x16x18|      Black|             15.6|          Glass|
|      1719|Apple Cable Essen...|AP-SP0719-RED|             Earbuds|           Wholesale|        Dell|      10976|    112.93|    242.39| 2024-08-07| 8.996|   16x7x24|     Silver|         One Size|      Synthetic|
|      1377|       Saucony Cable|SA-CL0377-YEL|               Books|           Textbooks|      Adidas|      10098|    184.24|    334.59| 2022-03-02| 9.456|  20x70x88|     Purple|         One Size|          Metal|
|      1504|Panasonic Keyboar...|PA-EL0504-YEL|       Camera Lenses|              Retail|   Panasonic|      10791|    170.28|    267.03| 2025-07-11|  6.78|  59x81x55|       Mint|            Small|         Fabric|
|      1724| Sony Training Shoes|SO-SP0724-MIN|               Suits|              Budget|          LG|      10396|     160.4|    385.16| 2024-05-09| 0.476|  25x17x10|black/white|                8|        Leather|
|      1493|Brooks Training S...|BR-AC0493-ORA|             Unknown|           Clearance|          LG|      10875|    238.38|     493.7| 2022-12-14| 1.147|  28x19x14|      white|               12|         Canvas|
|      1302|          LG Monitor|LG-SP0302-NAV|           Soundbars|           Clearance|       Canon|      10914|     90.84|    196.03| 2021-11-06| 2.711|  19x45x26| Space Gray|               13|        Plastic|
|      1788|Adidas Training S...|AD-SP0788-TUR|               Suits|           Wholesale|     Saucony|      10134|    463.03|   1073.46| 2022-11-24| 1.172|  26x18x12|       Gray|               43|          Suede|
|      1558|Canon Smartwatch Max|CA-AC0558-PIN|      Digital Comics|              Budget|      Amazon|      10238|    289.23|    676.44| 2024-05-28| 4.758|  19x44x26|       GOLD|               24|       Aluminum|
|      1866|      ASICS Backpack|AS-EL0866-RED|         Electronics|              Gaming|       Apple|      10010|    131.82|    305.16| 2023-04-22| 1.344|  78x65x44|       Gray|            Large|         Fabric|
|      1819| Sony Smartphone Air|SO-AC0819-WHI|             Bedroom|             Bedding|      google|      10920|     427.3|    705.93| 2023-07-07| 0.157|  17x9x0.9| Space Gray|         Standard|        Plastic|
|      1191|Lenovo Running Sh...|LE-HM0191-ORA|       Winter Sports|            Sledding|     Samsung|      10942|     48.46|    118.36| 2022-10-08|  0.84|  25x19x10|   Navy/Red|               39|         Canvas|
|      1143|Nikon Laptop Esse...|NI-HM0143-COR|       Books & Media|               Music|       Canon|      10153|     82.62|    162.29| 2023-02-19| 2.944|   31x21x3|      Black|               21|          Steel|
|      1723|    nike cable ultra|NI-CL0723-PIN|           Furniture|         Dining Room|        Puma|      10198|    353.31|    592.41| 2023-04-13|  9.68|  97x53x13|      Black|           Medium|      Synthetic|
|      1738|  Bose Charger Ultra|BO-AC0738-PIN|            Consoles|              Budget|      Reebok|      10571|    119.82|    256.38| 2021-01-11| 3.605|  63x79x89|     Yellow|           Medium|         Fabric|
|      1596|Bose Laptop Advanced|BO-AC0596-MIN|             Blu-ray|            Featured|          HP|      10603|     27.64|     41.41| 2021-10-17|  2.33|   35x21x3|      White|          Compact|        Plastic|
|      1286|Bose Charger Premium|BO-EL0286-YEL|            Utensils|             premium|   Panasonic|      10631|    341.48|    750.03| 2022-06-03| 2.916|   12x8x80|      White|           Medium|         Fabric|

In [38]:
dataframes["customers"].show(1000)

+-----------+------+-------------+--------------+--------------------+--------------------+-----------+--------------------+-------------------+---------------+---------+
|customer_id|gender|date_of_birth|account_status|                city|      state_province|postal_code|             country| account_created_at|last_login_date|is_active|
+-----------+------+-------------+--------------+--------------------+--------------------+-----------+--------------------+-------------------+---------------+---------+
|       1726|  NULL|   2003-12-27|        Active|           Cookmouth|     Rheinland-Pfalz|     B8X8E7|             Unknown|2023-09-13 00:05:57|     2024-12-28|     true|
|       1413|  Male|   1989-10-01|          NULL|        North Andrew|            Albacete|      44687|              Egipto|2023-03-07 00:56:37|     2024-08-09|     true|
|       1003| Other|   1991-06-20|        Active|             Fischer|             Arizona|      41316|               Korea|2025-11-07 13:01:19|     2025-11-14|     true|
|       1839|  NULL|   1982-03-29|      Inactive|        New Ryanstad|  Schleswig-Holstein|       2609|          Luxembourg|2024-12-19 03:37:56|     2025-01-20|     true|
|       1186|  Male|   1995-01-21|          NULL|      East Josemouth|            Virginia|      45428|              Soudan|2025-02-22 05:57:37|     2025-08-23|     true|
|       1701|  Male|   1971-12-21|        Active|         Sigmaringen|            Nebraska|       2146|             Unknown|2024-05-09 02:48:27|     2025-03-31|    false|
|       1179| Other|   1945-11-09|      Inactive|                 Gay|            Tasmania|       2963|               YEMEN|2021-06-01 08:57:43|     2025-01-15|    false|
|       1068|  Male|   1992-09-15|          NULL|              Ciudad|            PALENCIA|       8164|              Israel|2021-01-04 22:40:59|     2022-03-28|    false|
|       1707| Other|   1971-12-28|      Inactive|             Unknown|       Niedersachsen|       2875|              Taiwan|2021-08-07 19:20:49|     2025-08-16|    false|
|       1056|  Male|   1947-01-10|      Inactive|                NULL|              Huesca|      92617|               Japon|2025-08-25 21:52:48|     2025-10-29|    false|
|       1227|  NULL|   2005-05-05|      Inactive|              Huelva|            Nebraska|      46519|           Tailandia|2022-04-07 05:34:06|     2024-05-31|    false|
|       1099|  NULL|   1953-06-19|          NULL|        Derrickshire|          Queensland|      88297|           Dominique|2025-04-19 21:53:25|     2025-04-24|    false|
|       1974|  Male|   1951-02-04|          NULL|             Unknown|         Brandenburg|      30768|             Uruguay|2023-11-09 22:12:16|     2025-08-03|     true|
|       1986|Female|   1958-03-01|          NULL|           Janetview|  Schleswig-Holstein|      47548|              Monaco|2022-01-09 22:52:13|     2022-07-30|     true|
|       1909| Other|   1988-02-26|        Active|            Delattre|              Lleida|      03659|            Djibouti|2021-04-11 11:02:22|     2022-01-06|    false|
|       1469|Female|   1991-06-06|      Inactive|       Laine-sur-Mer|              Kansas|    J9A 8P3|             Bahamas|2024-01-06 23:37:59|     2024-11-21|     true|
|       1478|  Male|   1977-08-05|          NULL|           Goodmouth|     New South Wales|      62140|                Togo|2025-07-09 23:04:54|     2025-11-03|    false|
|       1730|Female|   1986-11-07|      Inactive|             vasseur|   Western Australia|     N6 6YP|             Belgium|2021-12-20 17:26:59|     2022-11-24|    false|
|       1843|Female|   1951-12-12|          NULL|         Sainte Paul|       Massachusetts|      12280|   Equatorial Guinea|2025-07-31 10:30:44|     2025-10-06|    false|
|       1746|  Male|   2002-01-24|        Active|         Carterville|            Maryland|      46245|             Malasia|2022-06-22 21:48:24|     2023-06-28|    false|
|       1219|  NULL|   2003-05-02|          NULL|       Elizabethfurt|Australian Capita...|      18489|           Guatemala|2025-01-02 06:50:41|     2025-01-09|     true|
|       1174|Female|   1986-06-03|          NULL|             Unknown|   Western Australia|      84282|              Bhutan|2024-09-02 18:59:30|     2025-02-20|     true|
|       1781|  NULL|   1988-12-13|          NULL|             Unknown|Mecklenburg-Vorpo...|   NG75 9FS|               Chile|2024-07-22 20:21:30|     2024-08-10|    false|
|       1049|Female|   1990-04-29|      Inactive|              Picard|     new south wales|      48734|               Gabun|2024-11-08 11:26:11|     2025-07-04|     true|
|       1683| Other|   2003-04-22|      Inactive|         New Stanley|             Sachsen|      42571|         Kirgisistan|2022-12-03 06:51:42|     2024-11-11|    false|
|       1085|Female|   1981-05-19|          NULL|   New Kimberlymouth|     South Australia|      31217|United Arab Emirates|2021-11-23 09:26:50|     2024-11-27|    false|
|       1586|  Male|   1997-11-15|          NULL|           Abdultown|             Unknown|      54807|Britisches Territ...|2021-06-19 00:03:45|     2024-07-13|    false|
|       1430|Female|   2001-05-22|          NULL|     David-les-Bains|              zamora|       NULL|         Swazilandia|2020-11-23 08:25:40|     2025-09-08|    false|
|       1043| Other|   1996-01-29|        Active|         New Michael|Santa Cruz de Ten...|       2234|            Bulgarie|2022-01-21 06:52:24|     2022-04-12|    false|
|       1702|  NULL|   1958-06-04|        Active|         Moralesbury|     New South Wales|      21734|          Montserrat|2024-01-21 11:19:15|     2024-06-08|     true|
|       1844| Other|   1975-02-04|      Inactive|        PottierBourg|             Unknown|      71867|Bosnia and Herzeg...|2021-03-26 23:29:58|     2025-06-25|     true|
|       1409|  Male|   1953-12-08|      Inactive|             Unknown|              Huelva|      69263|United Arab Emirates|2024-11-17 06:12:14|     2025-06-16|     true|
|       1973|  NULL|   1985-08-07|          NULL|              Apolda|             Sachsen|    Y8L 9J5|            Kiribati|2024-08-22 16:16:02|     2024-12-20|    false|
|       1128|  NULL|   1971-02-09|          NULL|        Jeffreyhaven|   Western Australia|     T6X1G8|    French Polynesia|2021-12-27 05:09:13|     2025-10-20|    false|
|       1829|Female|   1980-11-18|      Inactive|     Port Joycemouth|              Lleida|      44265|             Austria|2022-03-22 21:03:24|     2022-05-09|    false|
|       1433|  Male|   1954-09-13|          NULL|     Maury-sur-Louis|             Montana|      71056|          Montenegro|2024-09-23 11:23:07|     2025-08-17|    false|
|       1064|  NULL|   1965-05-05|      Inactive|      West Joycetown|       West Virginia|      27485|               Korea|2024-02-02 02:48:49|     2024-03-29|     true|
|       1347|  NULL|   1994-05-22|        Active|           Cantabria|            Nebraska|    R1R 1K9|            Pakistan|2022-08-24 13:00:34|     2025-03-03|     true|
|       1211|Female|   1964-06-22|      Inactive|         Fostershire|          Washington|      13797|               Niger|2024-01-09 17:19:06|     2024-03-16|    false|
|       1867| Other|   1999-01-08|      Inactive|            Jameston|      North Carolina|      94237|       Liechtenstein|2024-10-17 09:50:25|     2024-12-30|     true|
|       1694|  NULL|   1971-09-01|        Active|             Unknown|             Melilla|      39561|Northern Mariana ...|2023-10-03 06:13:18|     2025-10-26|     true|
|       1199|  NULL|   1958-08-15|        Active|           Viechtach|           Minnesota|      14396|         Timor-Leste|2024-08-23 06:30:32|     2024-09-20|     true|
|       1989| Other|   1967-12-24|      Inactive|      South Madeline|              Berlin|      88070|            Suriname|2021-01-08 01:15:42|     2022-12-23|    false|
|       1235| Other|   2005-08-14|      Inactive|           Emilyport|              Huesca|       2151|            Zimbabwe|2024-08-29 13:14:39|     2025-02-17|    false|
|       1782|Female|   1957-05-28|          NULL|           Davidside|            Valencia|      48582|  Amerikanisch-Samoa|2024-10-28 06:31:56|     2025-06-10|     true|
|       1268|Female|   1959-02-25|      Inactive|       Bowerschester|        North Dakota|     Y4Y6A6|              Canada|2024-07-27 03:12:06|     2025-06-05|     true|
|       1614| Other|   1957-05-25|          NULL|              Muller|     Rheinland-Pfalz|   DL3M 6LJ|        Sierra Leone|2022-06-24 08:47:42|     2023-09-01|    false|
|       1439|  Male|   2002-01-09|          NULL|     West Philipside|            Victoria|      46923|               India|2022-03-20 23:09:37|     2024-10-06|     true|
|       1554| Other|   1985-04-21|        Active|           Karenfurt|           Barcelona|      49531|             Tokelau|2021-09-23 03:31:44|     2022-02-25|    false|
|       1147| Other|   1992-09-07|        Active|    New Abbiechester|            Tasmania|   SR54 9QE|            Roumanie|2024-05-21 09:40:30|     2025-01-27|    false|
|       1934|  Male|   1967-07-13|      Inactive|     South Johnmouth|   Western Australia|     S4 9GT|             Belgium|2024-05-05 04:27:51|     2024-06-28|    false|
|       1723|  NULL|   1966-11-07|          NULL|     New Rebeccafurt|             Granada|    N1V 4J7|            Singapur|2025-04-10 06:00:01|     2025-07-28|     true|
|       1831| Other|   1958-10-11|          NULL|          Rogersside|               Texas|   SA48 2NG|             Bermuda|2022-11-25 15:58:19|     2023-10-11|     true|
|       1479|Female|   2005-02-26|        Active|       Saint Martine|             Georgia|      07900|            Honduras|2022-02-24 01:44:12|     2024-04-28|    false|
|       1382|Female|   1955-12-18|        Active|             Renault|  Northern Territory|    G3M 1S6|            Anguilla|2025-03-16 21:10:52|     2025-09-10|     true|
|       1552|  NULL|   1963-11-13|          NULL|            Toddbury|              Bayern|     S9K4H2|             Ouganda|2022-10-07 08:10:29|     2023-01-22|     true|
|       1695| Other|   1986-01-15|          NULL|       Stokesborough|            Illinois|      02626|    French Polynesia|2021-03-24 18:16:17|     2022-01-06|    false|
|       1227|  Male|   2005-05-05|      Inactive|              Huelva|            Nebraska|      46519|           Tailandia|2022-04-07 05:34:06|     2024-05-31|    false|
|       1605|  NULL|   1987-08-19|      Inactive|                NULL|           Wisconsin|    m84 8ue|               Haiti|2025-08-30 17:23:20|     2025-11-20|    false|
|       1817|Female|   1948-03-13|        Active|            Rathenow|     New South Wales|     M7X7X8|          Luxembourg|2025-06-13 08:55:53|     2025-10-22|    false|
|       1031| Other|   1976-12-17|          NULL|        Port Benport|        Pennsylvania|      41389|         Royaume-Uni|2023-06-20 22:11:56|     2023-12-18|     true|
|       1448| Other|   1976-05-06|        Active|              Goslar|        Rhode Island|       2648|               China|2024-03-28 13:43:38|     2025-05-10|     true|
|       1837|  NULL|   1950-09-21|          NULL|      Bethanychester|            Delaware|      73238|          Seychelles|2024-08-02 13:44:16|     2024-10-05|    false|
|       1217|  Male|   1950-04-08|          NULL|       East Josestad|        Rhode Island|      95461|           Venezuela|2025-03-31 10:05:32|     2025-10-15|    false|
|       1962| Other|   1969-08-06|      Inactive|             Unknown|             Unknown|      89542|           Swaziland|2022-02-17 02:36:07|     2023-02-28|    false|
|       1416|  Male|   1950-04-17|          NULL|           Strasburg|            Asturias|    T4R 9X1|              Angola|2022-10-25 18:49:58|     2024-06-29|     true|
|       1447| Other|   1973-09-06|      Inactive|       Bischofswerda|     New South Wales|    B1T 8UA|         Philippines|2023-08-25 12:31:08|     2024-10-21|     true|
|       1087| Other|   1999-08-12|          NULL|              Meppen|               Soria|      44231|             Unknown|2024-10-28 16:00:44|     2025-06-15|     true|
|       1836|Female|   1966-01-08|        Active|         Rebeccafurt|             Ourense|      42932|heard island and ...|2021-05-25 21:31:34|     2024-10-07|     true|
|       1371|  Male|   1954-12-14|          NULL|        Lake Richard|   Western Australia|      63410|              Guyane|2021-02-12 07:18:46|     2023-09-11|    false|
|       1978|  Male|   1976-02-25|      Inactive|           mooreview|                NULL|      41829|                Iran|2021-03-29 01:05:19|     2022-04-14|    false|
|       1896|  Male|   2000-08-26|        Active|         Bradleybury|             Unknown|    J5J 6M4|         Afghanistan|2023-12-17 08:26:49|     2024-03-24|     true|
|       1573|  NULL|   1976-05-23|      Inactive|           Bakerfort|            Saarland|     H3B9R4|             Lesotho|2023-11-13 00:23:31|     2024-12-19|    false|
|       1913|Female|   1992-03-27|      Inactive|            Northeim|  Schleswig-Holstein|       6453|  Dominican Republic|2025-10-09 22:36:08|     2025-10-29|     true|
|       1407| Other|   1954-08-20|          NULL|    East Markchester|             Unknown|      17427|               Kenya|2024-03-05 07:15:30|     2024-08-26|     true|
|       1108|  NULL|   1956-03-30|      Inactive|             Granada|               Soria|      86337|          Cape Verde|2021-01-15 17:10:29|     2022-12-13|    false|
|       1095|  NULL|   2007-07-22|        Active|         South Vicki|     Rheinland-Pfalz|      65645|             Unknown|2023-11-11 04:54:02|     2025-07-14|     true|
|       1110|Female|   1951-01-04|          NULL|                NULL|              Zamora|      40813|             Ireland|2023-12-11 10:40:59|     2025-11-20|    false|
|       1243|Female|   1946-04-22|      Inactive|        East Anthony|             Sevilla|       8994|               Haiti|2021-12-28 15:53:21|     2022-10-22|     true|
|       1319|  Male|   1979-03-01|      Inactive|       Port Paulberg| NORDRHEIN-WESTFALEN|      14627|               Polen|2023-06-14 18:57:45|     2025-08-18|    false|
|       1786|  Male|   1959-10-10|        Active|   Lake Mitchelltown|      North Carolina|    M1M 8H5|         Tadjikistan|2022-03-29 11:10:15|     2025-10-12|    false|
|       1362| Other|   1979-12-01|          NULL|     Marktheidenfeld|     New South Wales|     G1V2S3|Saint Vincent and...|2023-12-01 02:25:56|     2023-12-14|    false|
|       1011|Female|   1968-10-09|        Active|                 NaN|             Bavaria|        NaN|                  TZ|2024-08-04 03:01:03|     2025-05-30|     true|
|       1324|  Male|   1996-08-03|      Inactive|        Port Annette|          Queensland|    J7G 2C2|           Singapore|2024-02-03 13:11:10|     2025-06-12|     true|
|       1397|Female|   1967-05-16|          NULL|   North Michaelside|             Georgia|     J1P4B4|               China|2022-06-03 09:13:23|     2025-03-08|    false|
|       1321|Female|   1987-04-27|      Inactive|         Mccannville|             Unknown|      18009|          Mozambique|2022-06-12 02:26:30|     2024-10-08|     true|
|       1471| Other|   1993-12-16|      Inactive|             Unknown|             Georgia|      84708|         Netherlands|2025-08-10 14:22:54|     2025-11-15|     true|
|       1129|Female|   1996-12-29|      Inactive|   West Bradleyville|            Michigan|      23828|           Greenland|2024-01-26 11:23:08|     2025-07-13|    false|
|       1663| Other|   1958-05-11|        Active|           Gloverton|            Victoria|       2987|          Seychelles|2021-09-01 22:45:37|     2025-07-03|     true|
|       1341|Female|   1978-06-11|        Active|       East Alextown|     South Australia|       2920|           La Barbad|2021-03-16 11:13:29|     2022-01-22|    false|
|       1254| Other|   1967-10-27|        Active|          Saint Paul|     Rheinland-Pfalz|       2992|           Guatemala|2021-10-12 06:30:45|     2023-02-26|    false|
|       1669|Female|   1998-11-02|          NULL|        saint joseph|     South Australia|    L1T 3GP|             Unknown|2024-08-25 20:14:25|     2024-12-08|    false|
|       1112|  Male|   1948-01-03|      Inactive|     East Jacobshire|   Western Australia|    GU0 3EU|               Qatar|2022-02-22 03:36:36|     2022-03-12|     true|
|       1557|  NULL|   1981-10-24|      Inactive|  North Chelseaburgh|   Western Australia|      31185|                Iraq|2021-05-20 14:42:53|     2025-07-11|    false|
|       1599|  Male|   2003-08-02|        Active|             Unknown|              LLEIDA|      81112|              Zambia|2020-11-23 22:01:35|     2020-12-10|     true|
|       1466|Female|   1969-07-19|      Inactive|        North Jeremy|              Burgos|     K8R3E2|Bosnia and Herzeg...|2025-07-23 17:38:30|     2025-11-07|    false|
|       1823| Other|   1991-03-07|        Active|         Guadalajara|       Niedersachsen|       2619|Saint Kitts and N...|2024-01-29 18:54:51|     2024-09-25|     true|
|       1848| Other|   1954-07-04|      Inactive|         St. Jessica|            Palencia|      04095|              Rwanda|2025-07-12 09:10:04|     2025-09-15|    false|
|       1865| Other|   1996-08-11|          NULL|           Lake Lucy|             Unknown|      77633|              Guyana|2022-02-17 10:39:10|     2025-03-28|     true|
|       1415|  NULL|   1992-10-17|          NULL|             Segovia|                NULL|      29148|               Gabon|2024-03-03 08:33:25|     2025-07-02|    false|
|       1187|Female|   1978-08-27|      Inactive|                NULL|   Western Australia|      33495|             Unknown|2023-05-12 00:11:56|     2023-08-17|     true|
|       1611|  Male|   1993-09-05|      Inactive|             Unknown|             Unknown|      55132|             Ukraine|2022-04-30 10:27:10|     2022-12-03|    false|
|       1441|  NULL|   1984-06-19|        Active|             Unknown|     New South Wales|        NaN|                  EG|2025-09-17 14:24:08|     2025-11-08|    false|
|       1387|  NULL|   1982-01-09|      Inactive|           Smithtown|            Victoria|      89820|              Serbia|2024-07-04 10:21:31|     2025-08-30|    false|
|       1176| Other|   1967-07-08|      Inactive|                Lugo|     New South Wales|      45610|    Marshall Islands|2024-08-20 05:50:58|     2024-11-08|    false|
|       1902|Female|   1977-06-20|          NULL|              Torgau|         Brandenburg|       2518|             Croatia|2025-10-15 08:51:41|     2025-10-22|     true|
|       1923|Female|   2007-04-08|        Active|           Cantabria|            Alicante|      02356|British Virgin Is...|2024-06-03 13:09:15|     2025-06-10|    false|
|       1487|  NULL|   1963-08-05|        Active|     Mitchellchester|         Brandenburg|      14107|            Pakistan|2024-03-30 01:29:29|     2025-03-03|    false|
|       1146| Other|   2007-07-22|          NULL|            Geithain|             Arizona|      01805|               Aruba|2021-09-27 19:01:22|     2024-01-01|     true|
|       1206|  NULL|   1983-09-25|          NULL|           Waynebury|  Northern Territory|       2642|             Namibie|2024-08-13 16:47:35|     2025-02-27|     true|
|       1489|  NULL|   1972-08-09|          NULL|             Unknown|            Victoria|    S3K 0YS|   Wallis and Futuna|2021-01-05 07:16:20|     2023-03-09|    false|
|       1139| Other|   1980-06-28|          NULL|              Coburg|           Tarragona|   BS36 1EP|        Turkmenistan|2024-03-27 17:58:46|     2024-08-01|     true|
|       1153|  NULL|   1977-11-10|        Active|          DAVIDMOUTH|              Hawaii|      55941|         Kirgisistan|2022-11-21 03:50:04|     2023-02-25|    false|

In [39]:
from io import BytesIO

for table, df in dataframes.items():
    pdf = df.toPandas()
    csv_buffer = BytesIO()
    pdf.to_csv(csv_buffer, index=False)
    csv_buffer.seek(0)
    file_name = "cleaned_" + table + ".csv"
    minio_client.put_object(
        bucket_name,
        file_name,
        csv_buffer,
        length=len(csv_buffer.getvalue()),
        content_type="text/csv",
    )
    print(f"✅ Saved {file_name} ({len(pdf)} rows)")
    csv_buffer.close()

✅ Saved cleaned_customer_sessions.csv (3059 rows)
✅ Saved cleaned_customers.csv (1018 rows)
✅ Saved cleaned_inventory.csv (1321 rows)
✅ Saved cleaned_marketing_campaigns.csv (473 rows)
✅ Saved cleaned_order_items.csv (4453 rows)
✅ Saved cleaned_orders.csv (2253 rows)
✅ Saved cleaned_payments.csv (3305 rows)
✅ Saved cleaned_products.csv (936 rows)
✅ Saved cleaned_reviews.csv (2738 rows)
✅ Saved cleaned_shopping_cart.csv (1780 rows)
✅ Saved cleaned_suppliers.csv (975 rows)
✅ Saved cleaned_wishlist.csv (1894 rows)

In [40]:
dataframes["inventory"].show(10)

+------------+----------+-----------+--------------+-----------------+-------------------+-------------------+------------+
|inventory_id|product_id|supplier_id|stock_quantity|reserved_quantity|minimum_stock_level|last_restocked_date|storage_cost|
+------------+----------+-----------+--------------+-----------------+-------------------+-------------------+------------+
|       10847|      1984|      10147|            82|                8|                 26|         2025-10-08|        2.64|
|       10421|      1818|      10399|            61|                6|                 68|         2025-10-24|        4.71|
|       10772|      1482|      10222|             0|                0|                 43|         2025-10-24|        4.32|
|       11377|      1986|      10012|           617|              185|                 30|         2025-11-07|         4.9|
|       10238|      2387|      10100|             0|                0|                  0|         2025-03-13|        3.85|
|       10092|      1646|      10871|            43|                0|                 45|         2025-11-06|        3.98|
|       11423|      1871|      10850|            68|               20|                 41|         2025-11-07|        3.83|
|       10448|      2007|      10347|           636|               63|                 29|         2025-08-24|        3.48|
|       10191|      1701|      10729|           293|               29|                 47|         2025-11-08|        2.39|
|       10036|      1643|      10679|            68|                6|                 90|         2025-10-31|        1.72|
+------------+----------+-----------+--------------+-----------------+-------------------+-------------------+------------+
only showing top 10 rows